<div class="panel panel-default cf-panel-2">
    <div class="panel-heading text-center">
        <img ng-click="size(0);" class="cf-embed-link" src="assets/img/crowdfundrr_20.png" />
        <img ng-click="size(1);" class="cf-embed-link" src="assets/img/crowdfundrr_100.png" />
        <img ng-click="size(2);" class="cf-embed-link" src="assets/img/crowdfundrr_150.png" />
    </div>
    <div class="panel-body"><textarea style="border-radius: 5px;" class="form-control" onClick="this.setSelectionRange(0, this.value.length)"><a href="http://www.crowdfundrr.github.io/tracker/{{campaignId}}"><img style="border: 3px solid #999; border-radius: 5px; margin-right: 10px;" src="assets/img/crowdfundrr_{{imgSize}}.png" /></a></textarea>
    </div>
</div> 