<div class="panel panel-default" style="min-width: 455px;">
  <div class="panel-body">
        <h2 id="c_name" style="margin-top: 0px;">{{::campaign.name}}</h2>

        <h3><a href="{{::campaign.websiteUrl}}" id="c_website">{{::campaign.website}}</a> <span class="small" id="is_verified"></span></h3>
        
        <div class="progress" >
            <div id="c_progress" class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="{{campaign.progress}}" style="width: {{campaign.progress}}%" ng-style="{width: (campaign.progress + '%')}" aria-valuemin="0" aria-valuemax="100"></div>
        </div>
        
        <ul class="list-inline">
            <li><h1 style="margin-bottom: 10px;" id="c_backers">{{ campaign.backers}}</h1>Backers
            </li>
            <li><h1 id="c_amount">{{campaign.pledgedDisplay}}</h1>pledged of <span id="c_goal">{{ ::campaign.goalDisplay}}</span>
            </li>
            <li><h1 id="c_days">{{::campaign.daysToGo}}</h1>Days to Go
            </li>
        </ul>
        
        <br><br>
        
        <form name="donateForm" class="input-group input-group-lg">
            <input type="number" class="form-control" required ng-model="donationAmount" ng-hide="state.donated || campaign.expired || campaign.reached" aria-describedby="sizing-addon1" style="width: 200px;" placeholder="Amount (1ETH)" />
                                                                                                       
         	<input type="button" ng-click="refund();" class="btn btn-success btn-default btn-lg" ng-show="campaign.expired" value="Refund Contributors">
         	<input type="button" ng-click="payout();" class="btn btn-success btn-default btn-lg" ng-show="campaign.reached && !campaign.payedOut" value="Payout to Beneficiary">
         	<input type="button" ng-click="donate();" class="btn btn-primary btn-default btn-lg" ng-hide="state.donated || campaign.expired || campaign.reached" value="Donate to Campaign" />
            
            <h3 class="text-success" ng-show="state.donated">Thank you for donating!</h3>
            <p class="text-info" ng-show="campaign.expired"><br />Ah, snap... This campaign has expired.</p>
            <h3 class="text-info" ng-show="campaign.reached">This campaign has reached it's goal!</h3>
                        
            <div class="error-container" ng-show="donateForm.donationAmount.$dirty && donateForm.donationAmount.$invalid">
                <small class="error" ng-show="donateForm.donationAmount.$error.required">The donation amount is required</small>
            </div>
        </form>
  </div>
</div>