<template name="components_aboutMenu">
	<div class="row" style="margin-top: 75px;">
		<div class="col-xs-12">
			<ul class="nav nav-pills nav-stacked">
				<li role="presentation" id="about">
					<a href="{{ pathFor 'about' }}">
						About
					</a>
				</li>
				<li role="presentation">
					<a href="{{ pathFor 'aboutWeiFund' }}">
						<i class="glyphicon glyphicon-upload align-verticle glyphicon-padded"></i>	
						WeiFund
					</a>
				</li>
				<li role="presentation">
					<a href="{{ pathFor 'aboutWeiHash' }}">
						<i class="glyphicon glyphicon-ice-lolly-tasted align-verticle glyphicon-padded"></i>	
						WeiHash
					</a>
				</li>
				<li role="presentation">
					<a href="{{ pathFor 'aboutIPFS' }}">
						<i class="glyphicon glyphicon-globe align-verticle glyphicon-padded"></i>	
						IPFS
					</a>
				</li>
				<li role="presentation">
					<a href="{{ pathFor 'aboutCampaigns' }}">
						<i class="glyphicon glyphicon-cog align-verticle glyphicon-padded"></i>	
						Campaigns
					</a>
				</li>
			</ul>
		</div>
	</div>
	
	<hr class="hr-open" />
	
	{{loaded}}
</template>