<template name="components_accounts">
    <div class="panel panel-default panel-dapp">
        <div class="panel-heading">
            Account Manager
        </div>
        <div class="panel-body">
            {{#each accounts}}
            <div class="row account pointer" data-address="{{address}}">
                <div class="col-sm-8">
                    {{> components_toName address}}
                    
                    {{#if isSelected address}}
                        <span class="text-success">*</span>
                    {{/if}}

                    <br />

                    <small class="text-muted">
                        {{address}}
                        
                        {{#if isSelected address}}
                            <span> - selected</span>
                        {{/if}}
                    </small>
                </div>
                <div class="col-sm-4">
                    {{fromWei balance "ether"}} ether
                </div>
            </div>
            <hr />
            {{/each}}
        </div>
    </div>
</template>