<template name="components_adminMenu">
	<div class="row">
		<div class="col-xs-12">
			<h3><strong>></strong>Admin Panel</h3>

			<hr />

			<ul class="nav nav-pills nav-stacked">
				<li role="presentation">
					<a href="{{ pathFor 'stats' }}">
						<i class="glyphicon glyphicon-stats align-verticle glyphicon-padded"></i>
						Stats
					</a>
				</li>
				<li role="presentation">
					<a href="{{ pathFor 'weifund' }}">
						<i class="glyphicon glyphicon-upload align-verticle glyphicon-padded"></i>	
						WeiFund</a>
				</li>
				<li role="presentation">
					<a href="{{ pathFor 'persona' }}">
						<i class="glyphicon glyphicon-user align-verticle glyphicon-padded"></i>	
						Persona</a>
				</li>
				<li role="presentation">
					<a href="{{ pathFor 'ipfs' }}">
						<i class="glyphicon glyphicon-globe align-verticle glyphicon-padded"></i>	
						IPFS</a>
				</li>
				<li role="presentation">
					<a href="{{ pathFor 'weihash' }}">
						<i class="glyphicon glyphicon-ice-lolly-tasted align-verticle glyphicon-padded"></i>	
						WeiHash</a>
				</li>
				<li role="presentation">
					<a href="{{ pathFor 'settings' }}">
						<i class="glyphicon glyphicon-cog align-verticle glyphicon-padded"></i>	
						Settings</a>
				</li>
			</ul>
		</div>
	</div>
	
	{{loaded}}
</template>