<template name="components_alertError">
	<div class="alert alert-success">
		<h4 style="margin-top: 5px;" class="font-weight-bold"><b>{{#if alertData.title}}{{alertData.title}}{{else}}An Error Occured!{{/if}}</b> {{#if alertData.messageExtra}}<i class="
			glyphicon glyphicon-info-sign"></i>{{/if}}</h4>
		
		<p>{{#if alertData.message}}{{alertData.message}}{{else}}There was an error while processing your request {{/if}}</p>
		
		{{#if ../error}}
			<br />
			<br />
		
			<label>Error Message:</label>
		
			<br />
		
			{{../error}}
		{{/if}}
		
		{{#if alertData.showTransactionHash}}
			{{#if ../transactionHash}}
				<br />
				<br />
		
				<div class="row">
					<div class="col-xs-6 text-left">
						<label>{{#if alertData.transactionHash}}{{alertData.transactionHash}}{{else}}Transaction Hash{{/if}}</label>
					</div>
					<div class="col-xs-6 text-right">
						<button class="btn btn-sm btn-default btn-check-receipt" value="{{../transactionHash}}">Check Receipt</button>
					</div>
				</div>
		
				<br />
		
				<input type="text" value="{{../transactionHash}}" 
					   class="form-control" 
					   onfocus="this.select();" 
					   onmouseup="return false;"
					   placeholder="Transaction Hash">
		
				{{#with TemplateVar.get 'txReceipt'}}
					<hr />
		
					{{#if error}}
						<label>Error</label>
		
						{{error}}
					{{else}}
						{{#if result.blockHash}}
							<label>Cumulative Gas Used</label>

							<br />

							{{fromWei result.cumulativeGasUsed 'wei' '000000000000a'}} wei

							<br />

							<br />

							<label>Gas Used</label>

							<br />

							{{fromWei result.gasUsed 'wei' '000000000000a'}} wei

							<br />

							<br />

							<label>To</label>

							<br />

							{{#if result.to}}<span class="invisafield">{{result.to}}</span>{{else}}No address found (this is normal).{{/if}}

							<br />

							<br />

							<label>From</label>

							<br />

							{{#if result.from}}<span class="invisafield">{{result.from}}</span>{{else}}No address found (this is normal).{{/if}}

							<br />

							<br />

							<label>Block Hash</label>

							<br />

							{{#if result.blockHash}}<span class="invisafield">{{result.blockHash}}</span>{{else}}No block yet{{/if}}

							<br />

							<br />

							<label>Transaction Index</label>

							<br />

							{{result.transactionIndex}}
						{{else}}
							No transaction receipt found. This means the transaction is either still processing or is invalid.
						{{/if}}
					{{/if}}
				{{/with}}
			{{/if}}
		{{/if}}
	</div>
</template>