<template name="components_alertProcessing">
	<div class="alert alert-info">
		<h4 style="margin-top: 5px;" class="font-weight-bold"><b>{{#if alertData.title}}{{alertData.title}}{{else}}Processing...{{/if}}</b></h4>
		
		<p>{{#if alertData.message}}{{alertData.message}}{{else}}Your request is being processed... {{/if}} {{#if alertData.messageExtra}}This may take a minute or two. <i class="fa fa-spinner fa-pulse"></i>{{/if}}</p>
		
		<br />
		
		{{#if alertData.showAddress}}
			{{#if ../address}}
				<br />

				<label>{{#if alertData.address}}{{alertData.address}}{{else}}Address{{/if}}</label>
		
				<br />
		
				<input type="text" value="{{../address}}" 
					   class="form-control" 
					   placeholder="Ethereum Address">
			{{/if}}
		{{/if}}
		
		
		{{#if alertData.ipfsHash}}
			{{#if ../ipfsHash}}
				<br />
		
				<label>{{#if alertData.ipfsHash}}{{alertData.ipfsHash}}{{else}}IPFS Hash{{/if}}</label>
		
				<br />
		
				<input type="text" value="{{../ipfsHash}}" 
					   class="form-control" 
					   onfocus="this.select();" 
					   onmouseup="return false;"
					   placeholder="IPFS Hash">
			{{/if}}
		{{/if}}
		
		{{#if alertData.hash}}
			{{#if ../hash}}
				<br />
		
				<label>{{#if alertData.hash}}{{alertData.hash}}{{else}}Data Hash{{/if}}</label>
		
				<br />
		
				<input type="text" value="{{../hash}}" 
					   class="form-control" 
					   onfocus="this.select();" 
					   onmouseup="return false;"
					   placeholder="Data hash">
			{{/if}}
		{{/if}}
		
		{{#if alertData.showTransactionHash}}
			{{#if ../transactionHash}}
				<br />
		
				<div class="row">
					<div class="col-xs-6 text-left">
						<label>{{#if alertData.transactionHash}}{{alertData.transactionHash}}{{else}}Transaction Hash{{/if}}</label>
					</div>
					<div class="col-xs-6 text-right">
						<button class="btn btn-sm btn-default btn-check-receipt" value="{{../transactionHash}}">Check Receipt</button>
					</div>
				</div>
		
				<br />
		
				<input type="text" value="{{../transactionHash}}" 
					   class="form-control" 
					   onfocus="this.select();" 
					   onmouseup="return false;"
					   placeholder="Transaction Hash">
		
				{{#with TemplateVar.get 'txReceipt'}}
					<hr />
		
					{{#if error}}
						<label>Error</label>
		
						{{error}}
					{{else}}
						{{#if blockHash}}
							<label>Cumulative Gas Used</label>

							<br />

							{{fromWei cumulativeGasUsed 'ether' '0000000.000000a'}} ether

							<br />

							<br />

							<label>Gas Used</label>

							<br />

							{{fromWei gasUsed 'ether' '0000000.000000a'}} ether

							<br />

							<br />

							<label>Block Hash</label>

							<br />

							{{#if blockHash}}<span class="invisafield">{{blockHash}}</span>{{else}}No block yet{{/if}}

							<br />

							<br />

							<label>Transaction Index</label>

							<br />

							{{#if transactionIndex}}{{transactionIndex}}{{else}}No index yet{{/if}}
						{{else}}
							No transaction receipt found. This means the transaction is either still processing or is invalid.
						{{/if}}
					{{/if}}
				{{/with}}
			{{/if}}
		{{/if}}
	</div>
</template>