<template name="components_campaignConfig">
    <hr />
            
    <div class="row">
        <div class="col-sm-12">
            <h3>
                <i class="glyphicon glyphicon-cog"></i>
                Config Contract Details
            </h3>
        </div>
    </div>

    <br />
    <br />

    <div class="row">
        <div class="col-sm-6">
            <label>Config Address</label>

            <br />

            {{config}}

            <br />
            <br />
			
            <label>Verified Token Controller</label>

            <br />

            {{#if verifiedController}}Verified{{else}}Unverified{{/if}}

            <br />
            <br />
			
            <label>WeiController</label>

            <br />

            {{#if verifiedController}}Is Verified Controller{{else}}Unknown{{/if}}

            <br />
            <br />
			
            <label>Verified Token</label>

            <br />

            {{#if verifiedToken}}Verified{{else}}Unverified{{/if}}

            <br />
            <br />
		</div>
	</div>
</template>