<template name="components_campaignProcessing">
	<input type="hidden" id="component_campaignID" value="{{../../id}}" />
	
	<b>Selected Account</b>

	<br />

	<span class="invisafield">{{selectedAccount}}</span>

	<br />
	<br />

	<div class="row">
		<div class="col-xs-6">
			<b>Estimate Gas Cost</b>

			<br />

			<span class="invisafield">+/- 254588 wei</span>
		</div>
		<div class="col-xs-6">
			<label>Balance</label>

			<br />

			{{fromWei accountBalance 'ether' '000.00000a'}} ethers
		</div>
	</div>
				
	<hr />

	{{#with TemplateVar.get 'state'}}
		{{#if isContributing}}
			{{#if isError}}
				{{> components_alertError title="Contribution Error" message="There was an error while making your contribution."}}
			{{else}}
				{{#if contributed}}
					{{> components_alertProcessed title="Contribution Success!" message="Your contribution has been processed!"}}
				{{else}}
					{{> components_alertProcessing title="Contribution Processing..." message="Your contribution is being processed, this may take a minute or two..."}}
				{{/if}}
			{{/if}}
		{{/if}}
	{{/with}}

	
	{{#if $eq type 'open'}}
		{{#with TemplateVar.get 'state'}}
			{{#if isOpen}}	
				<h4>Contribution Amount</h4>
		
				<input type="number" id="amount"
					   class="form-control light inputsm"
					   style="" required 
					   placeholder="1 ether" />

				<br>
	
				{{#with TemplateVar.get 'warning'}}
					<div class="light">
						*{{message}}
					</div>
	
					<br>
				{{/with}}
	
				<h4>Beneficiary Account</h4>
	
				<input type="text" id="beneficiary"
					   class="form-control light inputsm"
					   style="" required 
					   placeholder="0xa9de95adeebb49eda366b1015519716171c7a6de" />
	
				<p><small>The address that will receive any tokens or campaign benefits if the campaign is successful.</small></p>
	
				<br />
				<br />
	
				<p>
					<button id="donate" type="button"
						class="btn btn-primary 
							   btn-default btn-lg btn-md">
						{{i18n 'dapp.app.buttons.donate'}}
					</button>
				</p>
	
				{{#if ../../validAccount}}
					<br />
	
					<h3>or send ether to: </h3>
	
					<p class="text-wrap"><b>{{../../account}}</b></p>
	
					<div style="width: 255px; height: 255px; overflow: hidden; display: block;"> 
						<!-- box fix -->
						{{>qrcode text=../../account size=255}}
					</div>

					<br />

					<small>*Note, this is an experimental feature. If you are sending ether to the address above with a contract, and the contract uses the 'send' command. You will lose your Ether.</small>
				{{/if}}
			{{/if}}
		{{/with}}
	{{else}}
		<button id="contributeToCampaign" type="button"
				class="btn btn-primary btn-lg">
			{{i18n 'dapp.app.buttons.donate'}}
		</button>
	{{/if}}

	{{#if $eq type 'failed'}}
		<!--{{../reason}}-->

		{{#with TemplateVar.get 'state'}}
			{{#if isRefunding}}
				{{#if isError}}
					{{> components_alertError title="Error While Refunding" message="There was an error while processing your refund."}}
				{{else}}
					{{#if refunded}}
						{{> components_alertProcessed title="Refund Processed!" message="Your refund has successfully been processed. Thank you."}}
					{{else}}
						{{> components_alertProcessing title="Refund Processing" message="Your refund is being processed, this may take a minute..."}}
					{{/if}}
				{{/if}}
			{{else}}
				<p>Ah, snap... This campaign has expired and could not raise enough funds.</p>

				{{#with TemplateVar.get 'isContributor'}}
					<p>You have made {{totalContributions}} contirbutions to this campaign.</p>

					{{#each userContributions}}
						<hr />
						<p>Contribution ID# {{id}}</p>
						<p><b>Amount:</b> {{fromWei amountContributed 'ether' '000.00000a'}} ethers</p>
						<p>{{formatTime created 'iso'}}</p>
					{{/each}}

					<input type="button" id="refund" class="btn btn-success btn-default btn-lg" value="Refund Contributions">
				{{/with}}
			{{/if}}

		{{/with}}
	{{/if}}


	{{#if $eq type 'paidout'}}
		<h3 class="text-success">Campaign Success!</h3>
		<p>This campaign has reached or surpassed it's goal, the proceeds have been paid out to the beneficiary.</p>
	{{/if }}


	{{#if $eq type 'success'}}

		{{#with TemplateVar.get 'state'}}
			{{#if isPaying}}
				{{#if isError}}
					{{> components_alertError title="Payout Error" message="There was an error while paying out this campaign."}}
				{{else}}
					{{#if payout}}
						{{> components_alertProcessing title="Payout Processed!" message="The campaign was a success and has been paid out to the beneficiary!"}}
					{{else}}
						{{> components_alertProcessed title="Payout Processing.." message="The campaign is being paid out to the beneficiary address... this may take a moment."}}
					{{/if}}
				{{/if}}
			{{else}}
				<h4 class="text-success">{{i18n 'dapp.views.tracker.text.success'}}</h4>
				<br />
				<input type="button" id="payout" class="btn btn-success btn-default btn-lg" value="{{i18n 'dapp.app.buttons.payout'}}">
			{{/if}}
		{{/with}}

	{{/if}}

	<br />
	<br />
	<br />

	<p>
		<small class="light" style="margin-top: 20px;">
			This project will expire {{formatTime ../../expiry 'iso'}}, at which point the campaign can be paid out.
		</small>
	</p>
</template>