<template name="components_campaignTracker">
    <div class="panel panel-default" style="min-width: 455px;">
    
        <div class="panel-body">
            <h2 id="c_name" style="margin-top: 0px;">{{name}}</h2>
            
            <h3><a href="{{websiteUrl}}">{{website}}</a></h3>
            
            <div class="progress" >
                <div id="c_progress" class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="{{progress}}" style="width: {{progress}}%" ng-style="{width: (progress + '%')}" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
            
            <ul class="list-inline">
                <li><h1 style="margin-bottom: 10px;">{{backers}}</h1><span class="text-capitalize">{{i18n 'dapp.app.phrases.backers'}}</span> 
                </li>
                <li><h1 id="c_amount">{{pledgedDisplay}}</h1><span class="text-capitalize">{{i18n 'dapp.app.phrases.pledged'}} {{i18n 'commonWords.of'}} </span><span id="c_goal">{{goalDisplay}}</span>
                </li>
                <li><h1 id="c_days">{{daysToGo}}</h1><span class="text-capitalize">{{i18n 'dapp.app.phrases.daysToGo'}}</span>
                </li>
            </ul>
            
            <br><br>
            
            <form name="donateForm" class="input-group input-group-lg">
                {{#if $eq status 0}}
                	<input type="number" id="amount" class="form-control" required aria-describedby="sizing-addon1" style="width: 200px;" placeholder="Amount (1 ETH)" />
                	<input type="button" id="donate" class="btn btn-primary btn-default btn-lg" value="{{i18n 'dapp.app.buttons.donate'}}" />
                
                    {{#if $.Session.equals 'state' 'donationProcessing'}}
                        <h3 class="text-success">{{i18n 'dapp.views.tracker.text.thankyou'}}</h3>
                        <p>{{i18n 'dapp.views.tracker.text.donationProcessing'}}</p>
                    {{/if}}

                    {{#if $.Session.equals 'state' 'donationProcessed'}}
                        <h3 class="text-success">{{i18n 'dapp.views.tracker.text.thankyou'}}</h3>
                        <p>{{i18n 'dapp.views.tracker.text.donationProcessed'}}</p>
                    {{/if}}                
                {{/if}}
                
                {{#if $eq status 1}}
                	<h3 class="text-info">{{i18n 'dapp.views.tracker.text.payoutProcessed'}}</h3>
                {{/if}}
                
                {{#if $eq status 2}}
                	<h3 class="text-info">{{i18n 'dapp.views.tracker.text.success'}}</h3>
               		<input type="button" id="payout" class="btn btn-success btn-default btn-lg" value="{{i18n 'dapp.app.buttons.payout'}}">
                {{/if}}
                
                {{#if $eq status 3}}
                	<p class="text-info"><br />{{i18n 'dapp.views.tracker.text.failed'}}</p>
                	<input type="button" id="refund" class="btn btn-success btn-default btn-lg" value="{{i18n 'dapp.app.buttons.refund'}}">
                {{/if}}
                
                {{#if $.Session.equals 'state' 'refundProcessing'}}
                	<p class="text-info">{{i18n 'dapp.views.tracker.text.refundProcessing'}}</p>
                {{/if}} 
                
                {{#if $.Session.equals 'state' 'refundProcessed'}}
                	<p class="text-info">{{i18n 'dapp.views.tracker.text.refundProcessed'}}</p>
                {{/if}} 
                
                {{#if $.Session.equals 'state' 'payoutProcessing'}}
                	<p class="text-info">{{i18n 'dapp.views.tracker.text.payoutProcessing'}}</p>
                {{/if}}  
                
                {{#if $.Session.equals 'state' 'payoutProcessed'}}
                	<p class="text-info">{{i18n 'dapp.views.tracker.text.payoutProcessed'}}</p>
                {{/if}}            
            </form>
        </div>
        <!-- /.panel-body -->
        
    </div>
</template>