<template name="components_card">
    <div class="col-xs-6 col-sm-6 col-md-3 cf_d_col">
        <div class="panel panel-default" style="height: 400px;">    
            <a href="/campaign/{{id}}">
                <div class="cf-panel-header">
                    <div class="panel-heading cf-panel-header" 
                         style="background-image: url({{data.avatar.contentUrl}})">
                    </div>
                </div>
            </a>
            <div class="panel-body">
                <h4 class="light" style="margin-bottom: 0px;">
                    <a href="/campaign/{{id}}">{{name}}</a>
                </h4>                        
                <p class="text-muted light" style="margin-bottom: 20px;">
                    by {{> components_toName owner}}
                </p>
                <div class="progress" 
                     style="height: 7px; margin-bottom: 10px; max-width: 400px;">
                	<div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="{{progress}}" aria-valuemin="0" aria-valuemax="100" style="width: {{progress}}%;"></div>
                </div>                        
                <ul class="list-inline">
                    <li>
                        <span>{{progress}}%</span>
                        <br>
                        <span class="text-muted light">
                            {{i18n 'dapp.app.phrases.funded'}}
                        </span>
                    </li>
                    <li>
                        <span>{{fromWei amount 'ether' '00a'}}</span>
                        <br>
                        <span class="text-muted light">
                            {{i18n 'dapp.app.phrases.pledged'}}
                        </span>
                    </li>
                    <li>
                        <span>
                            {{formatTime expiry 'daysToGo'}}
                        </span>
                        <br>
                        <span class="text-muted light">
                            {{i18n 'dapp.app.phrases.daysToGo'}}
                        </span>
                    </li>
                </ul>            
            </div> <!-- /.panel-body -->            
        </div> <!-- /.panel -->        
    </div> <!-- /.col-xs-6 -->
</template>
