<template name="components_cardSmall">
    <div class="card-small">
        <h4 class="light">
            <a href="/campaign/{{id}}">
                {{name}}
            </a>
        </h4>                        
        <div class="progress" 
             style="height: 7px; margin-bottom: 10px; max-width: 400px;">
          <div class="progress-bar progress-bar-info" 
               role="progressbar" aria-valuenow="{{progress}}" 
               aria-valuemin="0" aria-valuemax="100" 
               style="width: {{progress}}%;">
          </div>
        </div>                        
        <ul class="list-inline">
            <li>
                <span>{{progress}}%</span>
                <br>
                <span class="text-muted light">
                    {{i18n 'dapp.app.phrases.funded'}}
                </span>
            </li>
            <li>
                <span>
                    {{formatNumber numContributors '000a'}}
                </span>
                <br>
                <span class="text-muted light">
                    {{i18n 'dapp.app.phrases.backers'}}
                </span>
            </li>
            <li>
                <span>{{fromWei amountRaised 'ether' '000a'}}</span>
                <br>
                <span class="text-muted light">
                    {{i18n 'dapp.app.phrases.pledged'}}
                </span>
            </li>
            <li>
                <span>
                    {{formatTime expiry 'daystogo'}}
                </span>
                <br>
                <span class="text-muted light">
                    {{i18n 'dapp.app.phrases.daysToGo'}}
                </span>
            </li>
        </ul>
    </div> <!-- /.small-card -->
</template>