<template name="components_collectionManager">
    <div class="panel panel-default panel-dapp">
        <div class="panel-heading">
            Collection Manager
        </div>
        <div class="panel-body">
			<p>This module allows you to manage your locally stored collections. Be very carful when clearing locally stored data.</p>
			
			<hr />
			
			<p>Clear all locally stored campaign.</p>
			
			<button id="clearCampaigns" class="btn btn-primary">Clear Campaigns</button>
			
			<hr />
			
			<p>Clear all locally stored contributor.</p>
			
			<button id="clearContributors" class="btn btn-primary">Clear Contributors</button>
			
			<hr />
			
			<p>Clear all locally stored Persona data.</p>
			
			<button id="clearPersonas" class="btn btn-primary">Clear Personas</button>
		</div>
	</div>
</template>