<template name="components_deploy">
	<h3>Deploy WeiFund</h3>
	
	<hr />

	{{#with TemplateVar.get 'state'}}
		{{#if isUndeployed}}
			<p>{{i18n 'dapp.components.deploy.isUndeployed'}}</p>

			<label>Account Selected</label>
			<p>{{selectedAccount}}</p>

			<small>
				<b>Balance:</b> {{fromWei accountBalance 'ether' '0000.0000a'}} ethers
			</small>

			<br />

			<br />

			<label>Estimate Gas</label>
			<p>{{estimateGas}} wei</p>

			<br />

			<input type="button" id="weifundDeploy" 
				   class="btn btn-primary" 
				   value="{{i18n 'dapp.app.buttons.deploy'}}" />
		{{/if}}

		{{#if isError}}
			{{> components_alertError}}
		{{/if}}

		{{#if isMining}}
			{{> components_alertProcessing message="Your WeiFund contract is being mined..."}}
		{{/if}} 

		{{#if isMined}}
			{{> components_alertProcessed message="Your WeiFund contract has been mined!"}}
		{{/if}}
	{{/with}}
</template>