<template name="components_deploy">
    <div class="panel panel-default panel-dapp" style="margin-top: 75px;">
        <div class="panel-heading">
            {{i18n 'dapp.components.deploy.title'}}
        </div>
        <div class="panel-body">
            {{#with TemplateVar.get 'state'}}
                {{#if isUndeployed}}
                    <p>{{i18n 'dapp.components.deploy.isUndeployed'}}</p>
            
                    <label>Account Selected</label>
                    <p>{{selectedAccount}}</p>
            	
					<small>
						<b>Balance:</b> {{TemplateVar.get 'accountBalance'}} ether
					</small>
            
                    <br />
            
                    <br />
            
                    <label>Estimate Gas</label>
                    <p>{{estimateGas}} wei</p>
            
                    <br />
            
                    <input type="button" id="weifundDeploy" 
                           class="btn btn-primary" 
                           value="{{i18n 'dapp.app.buttons.deploy'}}" />
                {{/if}}
            
                {{#if isError}}
                    <div class="alert alert-warning">
                        <p>{{i18n 'dapp.components.deploy.isError'}} {{error}}</p>
                    </div>
                {{/if}}
            
                {{#if isMining}}
                    <div class="alert alert-info">
                        <p>{{i18n 'dapp.components.deploy.isMining'}} <i class="fa fa-spinner fa-pulse"></i> 

							<br />
							<br />
							<b>Transaction Hash:</b>
							<br />
							<input type="text" value="{{transactionHash}}" 
                           class="form-control" 
                           placeholder="{{i18n 'dapp.app.placeholders.contractAddress'}}"></p>
                    </div>
                {{/if}} 
            
                {{#if isMined}}
                    <div class="alert alert-success">
                        <p>{{i18n 'dapp.components.deploy.isMined'}}</p>
                    </div>
                    <hr />
                    <p>{{i18n 'dapp.components.deploy.isMined_1'}}</p>
			
					<br />
					<b>Contract Address:</b>
					<br />
                    <input type="text" value="{{address}}" 
                           class="form-control" 
                           placeholder="{{i18n 'dapp.app.placeholders.contractAddress'}}">
					<br /><br />
					<b>Transaction Hash:</b>
					<br />
					<input type="text" value="{{transactionHash}}" 
                           class="form-control" 
                           placeholder="{{i18n 'dapp.app.placeholders.contractAddress'}}">
                {{/if}}
            {{/with}}
        </div>
    </div>
</template>