<template name="components_namereg">
    <div class="panel panel-default panel-dapp">
        <div class="panel-heading">NameReg - Global WeiFund Name Registry</div>
        <div class="panel-body">
            <p>This is the NameReg contract component. Register, unregister, lookup and find names in the registry.</p>
            
            <br />
            
            <input type="text" class="form-control" 
                   id="nameregValue" placeholder="Name or Address" />
            
            <br />
            
            {{#with TemplateVar.get 'state'}}
            
                {{#if isMined}}
                <div class="alert alert-success" role="alert">
                    Your name registry contract has been deployed to this address {{address}}.
                </div>
                {{/if}}

                {{#if isRegistered}}
                <div class="alert alert-success" role="alert">
                    Your name has been successfully registed.
                </div>
                {{/if}}

                {{#if isUnregistered}}
                <div class="alert alert-success" role="alert">
                    Your name has been successfully unregistered.
                </div>
                {{/if}}

                {{#if isMining}}
                <div class="alert alert-info" role="alert">
                    Mining in process. This may take a minute or two.
                </div>
                {{/if}}

                {{#if isError}}
                <div class="alert alert-warning" role="alert">
                    There was an error.. {{error}}
                </div>
                {{/if}}
            
            {{/with}}
            
            <hr />
            
            <input type="button" 
                   class="btn btn-default float-left" 
                   id="register" style="margin-right: 3%;" 
                   value="Register" />
            
            <input type="button" 
                   class="btn btn-default float-left" 
                   id="unregister" style="margin-right: 3%;" 
                   value="Unregister" />
            
            <input type="button" 
                   class="btn btn-default float-left" 
                   id="toAddress" 
                   style="margin-right: 3%;" 
                   value="Lookup Name" />
            
            <input type="button" 
                   class="btn btn-default float-left" 
                   id="toName" 
                   style=" margin-right: 3%;" 
                   value="Lookup Address" />
            
            <input type="button" 
                   class="btn btn-default float-left" 
                   id="nameregDeploy"  
                   value="Deploy" />
            
            <hr />
            
            <label>Contract Address</label>
            
            <br />
            
            {{LocalStore.get 'nameregAddress'}}
        </div>
    </div>
</template>