<template name="components_personaManager">
    <h3>Persona</h3>

	<hr />

	{{#with TemplateVar.get 'state'}}
		{{#if isUndeployed}}
			<p>Here you can deploy a Persona byte registry which the WeiFund client uses to connect IPFS data to account identities.</p>

			<label>Account Selected</label>
			<p>{{selectedAccount}}</p>

			<small>
				<b>Balance:</b> {{fromWei accountBalance 'ether' '0000.0000a'}} ethers
			</small>

			<br />

			<br />

			<label>Estimate Gas</label>
			<p>{{estimateGas}} wei</p>

			<br />

			<input type="button" id="personaDeploy"
				   class="btn btn-primary"
				   value="Deploy PersonaRegistry" />
		{{/if}}

		{{#if isError}}
			{{> components_alertError message="There was an error deploying your persona registr."}}
		{{/if}}

		{{#if isMining}}
			{{> components_alertProcessing message="Your Persona registry is being deployed..."}}
		{{/if}}

		{{#if isMined}}
			{{> components_alertProcessed message="Your Persona registry has been deployed!"}}
		{{/if}}
	{{/with}}

	<hr class="hr-open" />

	<label>Set Persona Attributed</label>

	<p>Here you can set your persona attributes (an ipfs hash) for the selected account.</p>

	{{#unless TemplateVar.get 'registerState'}}
		<input type="text" id="setPersonaName" placeholder="Your Name" class="form-control" />

		<br />

		<input type="text" id="setPersonaImage" placeholder="Profile Image URL" class="form-control" />

		<br />

		<input type="button" id="personaRegister"
			   class="btn btn-primary"
			   value="Set Persona Attributes" />
	{{/unless}}

	{{#with TemplateVar.get 'registerState'}}
		{{#if isError}}
			{{> components_alertError message="There was an error while registering your Persona."}}
		{{/if}}

		{{#if isMining}}
			{{> components_alertProcessing message="Your persona is being registered..."}}
		{{/if}}
	{{/with}}

	<hr class="hr-open" />

	<label>Lookup Account Persona</label>

	<p>Here you can lookup an account's Persona data (if any).</p>

	<input type="text" id="lookupPersonaAddress" placeholder="Account Address" class="form-control" />

	<br />
	<br />

	<input type="button" id="personaLookup"
		   class="btn btn-default"
		   value="Lookup" />

	{{#with TemplateVar.get 'lookupState'}}
		<br />
		<br />

		{{#if isError}}
			{{> components_alertError message="There was an error looking up your Persona."}}
		{{/if}}

		{{#if isSuccess}}
			{{#with persona}}
				{{#if isValid}}
					<div class="row">
						<div class="col-sm-4 text-right">
							<span class="invisafield"><b>Address</b></span>
							<br />
							<br />
							<span class="invisafield"><b>IPFS Hash</b></span>
							<br />
							<br />
							<span class="invisafield"><b>Byte Data</b></span>
							<br />
							<br />
							<b>Valid</b>
							<br />
							<br />
							<b>Data Valid</b>
							<br />
							<br />
							<span class="invisafield"><b>Data Error</b></span>
						</div>
						<div class="col-sm-8">
							<span class="invisafield">{{address}}</span>
							<br />
							<br />
							<span class="invisafield">{{ipfsHash}}</span>
							<br />
							<br />
							<span class="invisafield">{{dataHex}}</span>
							<br />
							<br />
							{{#if isValid}}Is Valid{{else}}Not Valid{{/if}}
							<br />
							<br />
							{{#if dataValid}}Is Valid{{else}}Not Valid{{/if}}
							<br />
							<br />
							<span class="invisafield">{{#if dataError}}{{dataError}}{{else}}No Error{{/if}}</span>
						</div>
					</div>

					<hr class="hr-open" />

					<div class="row">
						<div class="col-sm-4 text-right">
							<span class="invisafield"><b>Name</b></span>
							<br />
							<br />
							<span class="invisafield"><b>Image URL</b></span>
						</div>
						<div class="col-sm-8">
							<span class="invisafield">{{data.personSchema.name}}</span>
							<br />
							<br />
							<span class="invisafield">{{data.personSchema.image.contentUrl}}</span>
						</div>
					</div>
				{{else}}
					<div class="alert alert-warning">
						<p>This persona either is invalid or does not exist.</p>
					</div>
				{{/if}}
			{{/with}}
		{{/if}}
	{{/with}}
</template>
