<template name="components_seed">
    <div class="panel panel-default panel-dapp">
        <div class="panel-heading">
            Seed Content
        </div>
        <div class="panel-body">
            <p>Here you can seed some fake crowdfunding campaigns and content into WeiFund for testing or demostration purposes.</p>
            
            <hr />
            
            <input type="button" 
                   class="btn btn-primary btn-seed" 
                   value="Seed Content" />
        </div>
    </div>
</template>