<template name="components_setup">
	{{#unless TemplateVar.get 'setup'}}
		<div class="blur"></div>
		<div class="dialogWindow">
			<h1>Setup</h1>

			<p>Please setup your Ethereum and IPFS backend here before you begin using this application.</p>

			<hr />

			<h3>Ethereum RPC Provider</h3>

			<p>Please set your Ethereum RPC provider URL below. The provider enables WeiFUnd to interact with your Ethereum node. If you do not have a node to run as a provider, run one by following these instructions: <a href="https://ethereum.gitbooks.io/frontier-guide/content/getting_a_client.html" target="_blank">Ethereum Frontier Guide</a></p>

			{{#with TemplateVar.get 'ethereumProviderState'}}

				<button id="useMetamask" class="btn btn-default btn-provider {{#if isMetamask}}btn-primary{{/if}}">Use MetaMask</button>

				<button id="useEtherscan" class="btn btn-default btn-provider {{#if isEtherscan}}btn-primary{{/if}}">Use EtherScan (Read-Only, Slow)</button>

				<button id="useHTTPProvider" class="btn btn-default btn-provider  {{#if isHTTP}}btn-primary{{/if}}">Use HTTP Provider</button>

				{{#if isHTTP}}
					<br />
					<br />
				{{/if}}

				<input type="text" id="ethereumProvider" class="form-control {{#unless isHTTP}}hide{{/unless}}" placeholder="Provider URL" value="{{#if isMetamask}}metamask{{/if}}{{#if isHTTP}}{{#if ../rpcProvider}}{{../rpcProvider}}{{else}}http://localhost:8080{{/if}}{{/if}}{{#if isEtherscan}}etherscan{{/if}}" />

			{{/with}}

			{{#with TemplateVar.get 'ethereumProviderMessage'}}
				<br /><br />

				{{#if unlockMetamask}}
					<div class="alert alert-info">
						Please unlock your MetaMask vault in order to use WeiFund.
					</div>
				{{/if}}

				{{#if error}}
					<div class="alert alert-info">
						Error while selecting provider: {{error}}
					</div>
				{{/if}}
			{{/with}}

			<hr />

			<h3>IPFS Provider</h3>

			<p>Please set your Inter Planatary File System (IPFS) provider URL below. The provider enables WeiFund to interact with your IPFS backend, for things like file and data storage. If you do not have an IPFS node as a provider, run one by following these instructions: <a href="https://ipfs.io/docs/install/" target="_blank">IPFS Installation Guide</a></p>

			{{#with TemplateVar.get 'ipfsProviderState'}}

				<button id="useIPFSWeifund" class="btn btn-default btn-ipfs-provider {{#if isWeifund}}btn-primary{{/if}}">Use WeiFund (Read-Only, Slow)</button>

				<button id="useIPFSHTTP" class="btn btn-default btn-ipfs-provider {{#if isHTTP}}btn-primary{{/if}}">Use HTTP Provider</button>

				{{#if isHTTP}}
					<br />
					<br />
				{{/if}}

				<input type="text" id="ipfsProvider" class="form-control {{#unless isHTTP}}hide{{/unless}}" placeholder="Provider URL" value="{{#if isWeifund}}http://159.203.69.164:5001{{/if}}{{#if isHTTP}}{{#if ../ipfsProvider}}{{../ipfsProvider}}{{else}}http://localhost:5001{{/if}}{{/if}}" />

			{{/with}}

			<hr />

			<h3>Selected Account</h3>

			<p>Please select the Ethereum account you would like to use to make transactions with WeiFund. Leaving this field blank will select the first available account provided by your Ethereum node.</p>

			<input type="text" id="ethereumAccount" class="form-control" placeholder="Account Address" value="{{selectedAccount}}" />

			<hr />

			<button class="btn btn-primary" id="setupClient">Setup WeiFund</button>

			{{#with TemplateVar.get 'state'}}
				<hr />

				{{#if isError}}
					<div class="alert alert-warning">
						<h4>Error</h4>

						<p>An error occured while checking your providers.</p>

						<br />

						<b>Message:</b>

						<br />

						{{error}}
					</div>
				{{/if}}

				{{#if isTesting}}
					<div class="alert alert-info">
						<h4>Testing Providers</h4>

						<p>WeiFund is checking your providers, this may take a minute... <i class="fa fa-spinner fa-pulse"></i> </p>

						<p><b>Currently Testing:</b></p>

						<p>{{testing}}</p>

						<p><small>Note, if testing lasts for longer than a minute or two, this may mean there is a problem with your provider.</small></p>
					</div>
				{{/if}}

				{{#if isSuccess}}
					<div class="alert alert-info">
						<h4>Providers Tested!</h4>

						<p>Your providers have been tested and will work with WeiFund!</p>
					</div>
				{{/if}}
			{{/with}}
		</div>
	{{/unless}}
	{{load}}
</template>
