<template name="components_startCampaignProcessing">
	{{#if isError}}
		<h3>Processing Error | stage <b>{{stage}}</b> of 6</h3>
		<div class="alert alert-warning">
			<p>
				<h4>{{name}} Error</h4>
			
				There was a stage #{{stage}} error while processing your campaign!

				<hr />
			
				{{error}}
			</p>
		</div>
	{{/if}}

	{{#if isProcessing}}
		<h3>Setting Up Your Campaign! | stage <b>{{stage}}</b> of 6</h3>
		<div class="alert alert-info">
			<p>
				<h4>{{name}}</h4>
			
				Your campaign data is being processed, do NOT close this tab or your browser... <i class="fa fa-cog fa-spin"></i>
			</p>
		</div>
	{{/if}}

	{{#if isProcessed}}
		<h2>Process Complete!</h2>
		<div class="alert alert-success">
			<p>
				Your campaign has been processed!
			</p>
		</div>

		<a class="btn btn-primary" href="/campaign/{{campaignID}}">Go To Your Campaign!</a>
	{{/if}}
	
	<hr />
	
	<h3>Data Results</h3>

	<p>Below are your campaign creation results.</p>

	<br />

	{{#if campaignTransactionHash}}
		<h4>
			Campaign Transaction Hash
			<span id="checkCampaignTransaction" data-hash="{{campaignTransactionHash}}" class="text-info pointer" style="float: right;">Check Receipt</span>
		</h4>
		<input type="text" class="form-control" value="{{campaignTransactionHash}}" />
		<br />

		{{#with TemplateVar.get 'campaignTransactionStatus'}}
		<div class="alert alert-info">
			<p>
				{{#if error}}
					<h4>Error</h4>
					There was an error getting your receipt: {{error}}.
				{{/if}}
				
				{{#if noReceipt}}
					<h4>No Receipt</h4>
					No transaction receipt was found. This means the transaction is either still processing or is invalid.
				{{/if}}
				
				{{#if blockHash}}
					<h4>Transaction Processed</h4>
					<label>Block Hash: </label> {{blockHash}}
			
					<br />
			
					<label>Block Number: </label> {{blockNumber}}
			
					<br />
			
					<label>Cumulitive Gas Used: </label> {{formatNumber cumulativeGasUsed "0,0.0[0000]"}}
				{{/if}}
			</p>
		</div>
		{{/with}}
	{{/if}}

	{{#if registryTransactionHash}}
		<h4>
			Registry Transaction Hash
			<span id="checkRegistryTransaction" data-hash="{{registryTransactionHash}}" class="text-info pointer" style="float: right;">Check Receipt</span>
		</h4>
		<input type="text" class="form-control" value="{{registryTransactionHash}}" />
		<br />

		{{#with TemplateVar.get 'registryTransactionStatus'}}
		<div class="alert alert-info">
			<p> 
				{{#if error}}
					<h4>Error</h4>
					There was an error getting your receipt: {{error}}.
				{{/if}}
				
				{{#if noReceipt}}
					<h4>No Receipt</h4>
					No transaction receipt was found. This means the transaction is either still processing or is invalid.
				{{/if}}
				
				{{#if blockHash}}
					<h4>Transaction Processed</h4>
					<label>Block Hash: </label> {{blockHash}}
			
					<br />
			
					<label>Block Number: </label> {{blockNumber}}
			
					<br />
			
					<label>Cumulitive Gas Used: </label> {{formatNumber cumulativeGasUsed "0,0.0[0000]"}}
				{{/if}}
			</p>
		</div>
		{{/with}}
	{{/if}}

	{{#if campaignID}}
		<h4>Campaign ID</h4>
		<input type="text" class="form-control" value="{{campaignID}}" />
		<br />
	{{/if}}

	{{#if ipfsHash}}
		<h4>
			IPFS Hash
			<span id="checkIPFSHash" data-hash="{{ipfsHash}}" class="text-info pointer" style="float: right;">Check Data</span>
		</h4>
		<small><label>IPFS Provider: </label> {{#with LocalStore.get 'ipfsProvider'}}{{host}}:{{port}}{{/with}}</small>
		<input type="text" class="form-control" value="{{ipfsHash}}" />
		<br />

		{{#with TemplateVar.get 'ipfsHashStatus'}}
		<div class="alert alert-info">
			<p> 
				{{#if error}}
					<h4>Error</h4>
					There was an error getting your IPFS data: {{error}}.
				{{/if}}
				
				{{#if noReceipt}}
					<h4>No Data</h4>
					There was no data found at this repository.
				{{/if}}
				
				{{#if data}}
					<h4>IPFS Data Retrieved</h4>
					{{data}}
				{{/if}}
			</p>
		</div>
		{{/with}}
	{{/if}}

	{{#if ipfsHashHex}}
		<h4>IPFS Hash Hex</h4>
		<input type="text" class="form-control" value="{{ipfsHashHex}}" />
		<br />
	{{/if}}
</template>