<template name="components_startCampaign">
	<div class="content-section-b">
        <div class="container">
        {{#with TemplateVar.get 'state'}}
            <div class="row {{#if isInactive}}hide{{/if}}">
                <div style="margin-top: 60px;">
                    {{> components_startCampaignProcessing}}
					
					{{#if isError}}
						<br />
						<br />

						<button id="backButton" class="btn btn-primary">
							Back to Campaign Creator
						</button>
					{{/if}}
                </div> <!-- ./col-lg-5 -->
            </div> <!-- ./row -->

            <div class="row {{#unless isInactive}}hide{{/unless}}">
                <div class="col-lg-5 col-sm-6">
                    <form id="startCampaignForm" 
                          class="input-group input-group-lg css-form" 
                          style="margin-top: 60px;" 
                          data-parsley-validate parsley-validate 
                          action="/#start">
                        
                        <h2>{{{i18n 'dapp.app.headers.startCampaign'}}}</h2>
					
						<hr />
						
                        <div class="row lead">
							<div class="col-sm-6">
								<h4>Estimate Gas Cost</h4>

								<h5>+/- 254588 Wei</h5>
							</div>
							<div class="col-sm-6">
								<h4>Selected Account</h4>

								<h5><span class="invisafield">{{selectedAccount}}</span></h5>
							</div>
						</div>
					
						<hr />
				
						<div class="row">
							<div class="col-sm-12">
						
								<input  type="text" id="name" 
									   class="form-control input-lg" 
									   placeholder="{{i18n 'dapp.components.startCampaign.placeholders.name'}}*" 
									   data-parsley-minlength="[3]" 
									   minlength="3" 
									   maxlength="32" 
									   data-parsley-trigger="change" 
									   data-trigger="keyup" required 
									   data-parsley-group="block1" />

								<div class="row">
									<div class="col-sm-6">
										<input type="text" id="timelimit" 
											   name="timelimit" 
											   class="form-control datepicker input-lg" 
											   required 
											   aria-describedby="sizing-addon1" 
											   data-parsley-trigger="change" 
												style="margin-top: 15px; line-height: 18px;" 
											   placeholder="Expiry*" 
											   data-parsley-group="block1" />       
									</div>
									<div class="col-sm-6" style="padding-left: 0px;">
										<input type="number" id="goal" name="goal"
											   min="1" class="form-control input-lg" required
											   aria-describedby="sizing-addon1" 
											   data-parsley-trigger="change" 
												style="margin-top: 15px; line-height: 18px;" 
											   placeholder="{{i18n 'dapp.components.startCampaign.placeholders.goal'}}*" 
											   data-parsley-group="block2" />  
									</div>
								</div>                               

								<input type="text" id="beneficiary" 
									   class="form-control  input-lg"  minlength="3" 
									   aria-describedby="sizing-addon1" 
									   data-parsley-trigger="change" required
									   autocomplete="off"
									   placeholder="{{i18n 'dapp.components.startCampaign.placeholders.beneficiary'}}*" 
									   style="-webkit-user-select: auto !important; margin-top: 10px;" data-parsley-group="block2"  />

								<input type="text" id="config" 
									   class="form-control  input-lg"  minlength="3" 
									   aria-describedby="sizing-addon1" 
									   placeholder="{{i18n 'dapp.components.startCampaign.placeholders.config'}}" 
									   style="-webkit-user-select: auto !important; margin-top: 10px;" />

							</div>
						</div>
						
						<textarea id="description"
								  placeholder="Description"
								  data-parsley-minlength="[3]" 
								  minlength="3" 
								  class="form-control"
                               	  aria-describedby="sizing-addon1"
								  style="min-height: 70px; margin-top: 30px;" 
                               	  data-parsley-trigger="change"></textarea>

                        <select id="category" class="form-control" 
                                data-parsley-check="[0, 13]" 
                                data-parsley-trigger="change" style="margin-top: 15px;" 
                                required aria-describedby="sizing-addon1" 
                                data-parsley-group="block3">
                            <option selected="selected"  
                                    data-parsley-trigger="change" value="" 
                                    data-parsley-group="block3">
                                {{i18n 'dapp.components.startCampaign.placeholders.category'}}
                            </option>
                            {{#each categories ''}}
                                <option value="{{id}}">
                                    {{name}}
                                </option>
                            {{/each}}
                        </select>
				
                        <input type="url" 
                               id="website" 
                               placeholder="Website (url)" 
                               class="form-control" minlength="3"
                               aria-describedby="sizing-addon1" 
                               data-parsley-trigger="change" 
                               style="margin-top: 15px;" 
                               required data-parsley-group="block1" />  

                        <input type="url" id="bannerImage" 
                               placeholder="Banner Image (url)" 
                               class="form-control" 
							   minlength="3" 
							   data-parsley-minlength="[3]" 
                               aria-describedby="sizing-addon1" 
                               data-parsley-trigger="change"
                               style="margin-top: 15px;" 
                               required data-parsley-group="block1"  />

                        <input type="url" id="avatarImage" 
                               placeholder="Avatar Image (url)" 
                               class="form-control" minlength="3" 
							   data-parsley-minlength="[3]" 
                               aria-describedby="sizing-addon1" 
                               data-parsley-trigger="change"
                               style="margin-top: 15px;" 
                               required data-parsley-group="block1"  />

                        <input type="url" id="primaryContent" 
                               placeholder="Video or Image (url)" 
                               class="form-control" minlength="3" 
							   data-parsley-minlength="[3]" 
                               aria-describedby="sizing-addon1" 
                               data-parsley-trigger="change"
                               style="margin-top: 15px;" 
                               required data-parsley-group="block1"  />
                        
                        <br />
                        <br />
                        
                        <hr />

                        <input type="submit" id="start" 
                               class="btn btn-primary btn-lg" 
                               style="margin-top: 20px;" 
                               value="{{i18n 'dapp.app.buttons.startYourCampaign'}}" />

                        <!--<a href="/token" target="_blank"
                               style="padding-top: 40px; margin-left: 15px;">Build A WeiCoin</a>-->
                     </form>
                </div> <!-- ./col-lg-5 -->

                <div class="col-lg-6 col-lg-offset-1 col-sm-6 details"
                     style="min-height: 650px;">
                    <div style="padding-top: 60px;">
                         <h2>{{{i18n 'dapp.app.headers.details'}}}</h2>                         
                         <ul class="lead">
                             <li>{{{i18n 'dapp.components.startCampaign.details.0'}}}</li>
                             <li>{{{i18n 'dapp.components.startCampaign.details.1'}}}</li>
                             <li>{{{i18n 'dapp.components.startCampaign.details.2'}}}</li>
                             <li>An invalid config contract or address will lead to all campaign assets being frozen forever.</li>
                             <li>Vimeo and YouTube are the only supported video players by WeiFund at this time</li>
                             <li>The gas estimate is only a guess, actual gas costs may vary</li>
                             <li>Starting a new campaign will create two new transactions (one for WeiFund and another for WeiHash)</li>
                             <li>Do not close your browser while your campaign is being created!</li>
                             <li>All data is stored in an newly created IPFS repository</li>
                             <li>{{{i18n 'dapp.components.startCampaign.details.4'}}}</li>
                             <li>Use at your own risk!</li>
                        </ul>
                     </div>               
                </div> <!-- ./col-lg-5 -->
            </div> <!-- ./row -->
        {{/with}}
        </div>
        <!-- /.container -->    
    </div>
    <!-- /.content-section-b -->    
    
    {{load}}
</template>
