<template name="components_stats">
	<h3>Information & Statistics</h3>
	
	<hr />

	<div class="row">
		<div class="col-xs-4 col-sm-4" style="text-align: right;">
			Version
			<br />
			<br />
			Total Campaigns
			<br />
			<br />
			<span class="invisafield">WeiFund Address</span>
		</div>
		<div class="col-xs-4 col-sm-8" style="text-align: left;">
			{{TemplateVar.get 'version'}}
			<br />
			<br />
			{{TemplateVar.get 'totalCampaigns'}}
			<br />
			<br />
			<span class="invisafield">{{#with LocalStore.get 'contracts'}} {{WeiFund}} {{/with}}</span>
		</div>
	</div>

	<hr />

	<div class="row">
		<div class="col-xs-4 col-sm-4" style="text-align: right;">
			Version
			<br />
			<br />
			Valid
			<br />
			<br />
			<span class="invisafield">WeiFund Pointer</span>
			<br />
			<br />
			<span class="invisafield">WeiHash Address</span>
		</div>
		<div class="col-xs-4 col-sm-8" style="text-align: left;">
			{{TemplateVar.get 'weihashVersion'}}
			<br />
			<br />
			{{TemplateVar.get 'weihashValid'}}
			<br />
			<br />
			<span class="invisafield">{{TemplateVar.get 'weihashWeiFund'}}</span>
			<br />
			<br />
			<span class="invisafield">{{TemplateVar.get 'weihashAddress'}}</span>
		</div>
	</div>

	<hr />

	<div class="row">
		<div class="col-xs-4 col-sm-4" style="text-align: right;">
			<span class="invisafield">Is Valid</span>
		</div>
		<div class="col-xs-4 col-sm-8" style="text-align: left;">
			<span class="invisafield">{{TemplateVar.get 'weiaccountsValid'}}</span>
		</div>
		<div class="col-xs-4 col-sm-4" style="text-align: right;">
			<span class="invisafield">Campaign Accounts Factory</span>
		</div>
		<div class="col-xs-4 col-sm-8" style="text-align: left;">
			<span class="invisafield">{{#with LocalStore.get 'contracts'}} {{WeiAccounts}} {{/with}}</span>
		</div>
	</div>

	<hr />

	<div class="row">
		<div class="col-xs-4 col-sm-4" style="text-align: right;">
			<span class="invisafield">WeiController Factory</span>
		</div>
		<div class="col-xs-4 col-sm-8" style="text-align: left;">
			<span class="invisafield">{{#with LocalStore.get 'contracts'}} {{WeiControllerFactory}} {{/with}}</span>
		</div>
	</div>

	<hr />

	<div class="row">
		<div class="col-xs-4 col-sm-4" style="text-align: right;">
			<span class="invisafield">WeiFund Token Factory</span>
		</div>
		<div class="col-xs-4 col-sm-8" style="text-align: left;">
			<span class="invisafield">{{#with LocalStore.get 'contracts'}} {{WeiFund_Token_Factory}} {{/with}}</span>
		</div>
	</div>

	<hr />

	<div class="row">
		<div class="col-xs-4 col-sm-4" style="text-align: right;">
			<span class="invisafield">ETH Provider</span>
			<br />
			<br />
			<span class="invisafield">IPFS Provider</span>
		</div>
		<div class="col-xs-4 col-sm-8" style="text-align: left;">
			<span class="invisafield">{{LocalStore.get 'rpcProvider'}}</span>
			<br />
			<br />
			<span class="invisafield">{{#with LocalStore.get 'ipfsProvider'}}{{host}}:{{port}}{{/with}}</span>
		</div>
	</div>

	<hr />

	<span class="text-muted">
		Last Updated: {{TemplateVar.get 'updated'}}
	</span>
</template>