<template name="components_weiAccounts">
    <h3>WeiAccounts</h3>
	
	<hr />
	
	{{#with TemplateVar.get 'deployAccountsState'}}
		{{#if isUndeployed}}
			<p>Here you can deploy a WeiAccounts factory for deploying campaign account contracts.</p>

			<label>Account Selected</label>
			<p>{{selectedAccount}}</p>

			<small>
				<b>Balance:</b> {{fromWei accountBalance 'ether' '0000.0000a'}} ethers
			</small>

			<br />

			<br />

			<label>WeiFund Address</label>
			<p>{{weifundAddress}}</p>

			<br />

			<label>Estimate Gas</label>
			<p>{{estimateGas}} wei</p>

			<br />

			<input type="button" id="deployWeiAccounts" 
				   class="btn btn-primary" 
				   value="Deploy WeiAccounts" />
		{{/if}}

		{{#if isError}}
			<div class="alert alert-danger">
				<p>There was an error deploying the WeiAccounts factory {{error}}</p>
			</div>
		{{/if}}

		{{#if isMining}}
			<div class="alert alert-info">
				<p>Your WeiAccounts registry is being deployed <i class="fa fa-spinner fa-pulse"></i> 

					<br />
					<br />
					<b>Transaction Hash:</b>
					<br />
					<input type="text" value="{{transactionHash}}" 
				   class="form-control" 
				   placeholder="{{i18n 'dapp.app.placeholders.contractAddress'}}"></p>
			</div>
		{{/if}} 

		{{#if isMined}}
			<div class="alert alert-success">
				<p>{{i18n 'dapp.components.deploy.isMined'}}</p>
			</div>
			<hr />
			<p>Your WeiAccounts factory contract has been deployed!</p>

			<br />
			<b>Contract Address:</b>
			<br />
			<input type="text" value="{{address}}" 
				   class="form-control" 
				   placeholder="{{i18n 'dapp.app.placeholders.contractAddress'}}">
			<br /><br />
			<b>Transaction Hash:</b>
			<br />
			<input type="text" value="{{transactionHash}}" 
				   class="form-control" 
				   placeholder="{{i18n 'dapp.app.placeholders.contractAddress'}}">
		{{/if}}
	{{/with}}
	
	<hr class="hr-open" />

	<label>New Campaign Account</label>

	<p>Here you can create a campaign account for your campaign. Campaign accounts take in value and send it to the WeiFund core contract as a campaign contribution.</p>

	{{#unless TemplateVar.get 'newAccountState'}}
		<br />

		<input type="text" id="newAccountCampaignID" placeholder="Campaign ID" class="form-control" />

		<br />

		<input type="button" id="newAccount" 
			   class="btn btn-primary" 
			   value="Create Account" />
	{{/unless}}

	{{#with TemplateVar.get 'newAccountState'}}			
		{{#if isError}}
			<div class="alert alert-danger">
				<p>There was an error looking up your campaign's account. {{error}}</p>
			</div>
		{{/if}}

		{{#if isMining}}
			<div class="alert alert-info">
				<p>Your campaign account is being created for your campaign... <i class="fa fa-spinner fa-pulse"></i> 

					<br />
					<br />
					<b>Transaction Hash:</b>
					<br />
					<input type="text" value="{{transactionHash}}" 
				   class="form-control" 
				   placeholder="{{i18n 'dapp.app.placeholders.contractAddress'}}"></p>
			</div>
		{{/if}}

		{{#if isMined}}
			<div class="alert alert-success">
				<p>Your campaign account has been created!</p>
			</div>
			<hr />			
			<br />
			<b>Campaign Account Address:</b>
			<br />
			<input type="text" value="{{accountAddress}}" 
				   class="form-control" 
				   placeholder="{{i18n 'dapp.app.placeholders.contractAddress'}}">
			<br />
			<b>Transaction Hash:</b>
			<br />
			<input type="text" value="{{transactionHash}}" 
				   class="form-control" 
				   placeholder="{{i18n 'dapp.app.placeholders.contractAddress'}}">
		{{/if}}
	{{/with}}
	
	<hr class="hr-open" />

	<label>Lookup Account</label>

	<p>Here you can lookup a campaign's account, if any is available.</p>

	<input type="text" id="lookupAccountCampaignID" placeholder="Campaign ID" class="form-control" />

	<br />

	<input type="button" id="lookupAccount" 
		   class="btn btn-default" 
		   value="Lookup" />

	{{#with TemplateVar.get 'lookupAccountState'}}
		<br />
		<br />

		{{#if isError}}
			<div class="alert alert-danger">
				<h4>Error While Account Lookup</h4>
				
				<p>There was an error looking up this campaigns hash data. {{error}}</p>
			</div>
		{{/if}}

		{{#if isSuccess}}
			<div class="alert alert-info">
				<h4>Account Found!</h4>
				
				<br />
				
				<p>
					<b>Campaign ID #:</b>
					<br />
					<input type="text" value="{{campaignID}}" 
						   class="form-control" 
						   placeholder="{{i18n 'dapp.app.placeholders.contractAddress'}}">
				</p>
				
				<br />
				
				<p>
					<b>Account:</b>
					<br />
					<input type="text" value="{{account}}" 
						   class="form-control" 
						   placeholder="{{i18n 'dapp.app.placeholders.contractAddress'}}">
				</p>
			</div>
		{{/if}}
	{{/with}}
</template>