<template name="components_weiAccounts">
    <h3>WeiAccounts</h3>
	
	<hr />
	
	{{#with TemplateVar.get 'deployAccountsState'}}
		{{#if isUndeployed}}
			<p>Here you can deploy a WeiAccounts factory for deploying campaign account contracts.</p>

			<label>Account Selected</label>
			<p>{{selectedAccount}}</p>

			<small>
				<b>Balance:</b> {{fromWei accountBalance 'ether' '0000.0000a'}} ethers
			</small>

			<br />

			<br />

			<label>WeiFund Address</label>
			<p>{{weifundAddress}}</p>

			<br />

			<label>Estimate Gas</label>
			<p>{{estimateGas}} wei</p>

			<br />

			<input type="button" id="deployWeiAccounts" 
				   class="btn btn-primary" 
				   value="Deploy WeiAccounts" />
		{{/if}}

		{{#if isError}}
			{{> components_alertError message="Error while creating your WeiAccounts registry contract."}}
		{{/if}}

		{{#if isMining}}
			{{> components_alertProcessing title="Creating WeiAccounts Registry" message="We are creating your WeiAccounts registry contract..."}}
		{{/if}}

		{{#if isMined}}
			{{> components_alertProcessed title="WeiAccounts Registry Created!" message="Your WeiAccounts registry contract has been successfully created!"}}
		{{/if}}
	{{/with}}
	
	<hr class="hr-open" />

	<label>New Campaign Account</label>

	<p>Here you can create a campaign account for your campaign. Campaign accounts take in value and send it to the WeiFund core contract as a campaign contribution.</p>

	{{#unless TemplateVar.get 'newAccountState'}}
		<br />

		<input type="text" id="newAccountCampaignID" placeholder="Campaign ID" class="form-control" />

		<br />

		<input type="button" id="newAccount" 
			   class="btn btn-primary" 
			   value="Create Account" />
	{{/unless}}

	{{#with TemplateVar.get 'newAccountState'}}	
		{{#if isError}}
			{{> components_alertError}}
		{{/if}}

		{{#if isMining}}
			{{> components_alertProcessing title="Creating Campaign Account" message="We are creating an account contribution endpoint for your campaign..."}}
		{{/if}}

		{{#if isMined}}
			{{> components_alertProcessing title="Account Endpoint Created!" message="We have created an account contribution endpoint for your campaign!"}}
		{{/if}}
	{{/with}}
	
	<hr class="hr-open" />

	<label>Lookup Account</label>

	<p>Here you can lookup a campaign's account, if any is available.</p>

	<input type="text" id="lookupAccountCampaignID" placeholder="Campaign ID" class="form-control" />

	<br />

	<input type="button" id="lookupAccount" 
		   class="btn btn-default" 
		   value="Lookup" />

	{{#with TemplateVar.get 'lookupAccountState'}}
		<br />
		<br />

		{{#if isError}}
			{{> components_alertError}}
		{{/if}}

		{{#if isSuccess}}
			{{> components_alertProcessed title="Account Found" message="We have found an account for this campaign"}}
		{{/if}}
	{{/with}}
</template>