<template name="views_aboutWeiHash">
	<h2>About WeiHash</h2>

	<hr />
	
	<p>WeiHash is a simple registry system that is built out of a single Ethereum contract. The contract links data pointers such as IPFS hashes to WeiFund campaigns. Everytime you want to change your non-essential consensus data of a campaign such as a campaign description or website, you will have to re-register the new repository address with the WeiHash system. Below is a copy of the WeiHash contract.</p>
	
	<hr />
	
	<pre>{{contract}}</pre>
</template>