<template name="views_aboutIPFS">
	<h2>About IPFS</h2>

	<hr />
	
	<p>The InterPlanetary File System (IPFS) is a new hypermedia distribution protocol, addressed by content and identities. IPFS enables the creation of completely distributed applications. It aims to make the web faster, safer, and more open.</p>

	<p>IPFS is an open source project developed by the IPFS Community and many contributors from the open source community.</p>
	
	<h3>How it works</h3>
	
	<p>IPFS is a peer-to-peer distributed file system that seeks to connect all computing devices with the same system of files. In some ways, IPFS is similar to the Web, but IPFS could be seen as a single BitTorrent swarm, exchanging objects within one Git repository. In other words, IPFS provides a high throughput content-addressed block storage model, with content-addressed hyperlinks. This forms a generalized Merkle DAG, a data structure upon which one can build versioned file systems, blockchains, and even a Permanent Web. IPFS combines a distributed hashtable, an incentivized block exchange, and a self-certifying namespace. IPFS has no single point of failure, and nodes do not need to trust each other.</p>
	
	<br />
	
	<p><iframe width="811" height="456" src="https://www.youtube.com/embed/8CMxDNuuAiQ" frameborder="0" allowfullscreen></iframe></p>
	
	<hr />
	
	<a href="http://ipfs.io" target="_blank">More About IPFS</a>
</template>