<template name="views_aboutCampaigns">
	<h2>WeiFund Campaigns</h2>

	<hr />

	<p>WeiFund campaigns are created by transacting with the Ethereum blockchain. A transaction is sent to our core WeiFund contract which instantiates the new campaign, if all campaign data is valid. Some campaign data you state will be stored elsewhere on
		IPFS, a decentralized file-storage system. All essential campaign data is stored on the blockchain, and cannot be changed once it is stated.</p>

	<p>Some campaigns have an account that Ether can be sent to. This allows for some Ethereum wallet contracts to send Ether directly to a campaign on WeiFund. There are a few limitations, such as: if the wallet or contract uses the 'send' method to allocate
		the ether balance. In that case, do not send ether to the campaign account. Instead, use the WeiFund platform itself.</p>
</template>
