<template name="views_about">

    <div class="content-section-b" style="margin-top: 50px;">    
        <div class="container">    
            <div class="row">
                <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">{{{i18n 'dapp.views.home.text.about_3'}}}</h2>
                    <p class="lead">{{{i18n 'dapp.views.home.text.about_4'}}}</p>
                </div>
                <div class="col-lg-5 col-sm-pull-6  col-sm-6">
                    <img class="img-responsive" src="/images/eth.png" alt="">
                </div>
            </div>    
        </div> <!-- /.container -->
    </div>
    <!-- /.content-section-b -->
    
    <!-- About -->
    <a  id="about"></a>
    <div class="content-section-a">    
        <div class="container">        
            <div class="row">
                <div class="col-lg-5 col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">{{{i18n 'dapp.views.home.text.about_1'}}}</h2>
                    <p class="lead">{{{i18n 'dapp.views.home.text.about_2'}}}</p>
                </div>
                <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                    <img class="img-responsive" src="/images/ipad.png" alt="">
                </div>
            </div>
        </div> <!-- /.container -->    
    </div>
    <!-- /.content-section-a -->

    <!-- Section -->
    <div class="content-section-b">    
        <div class="container">    
            <div class="row">
                <div class="col-lg-5 col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">{{{i18n 'dapp.views.home.text.about_5'}}}</h2>
                    <p class="lead">{{{i18n 'dapp.views.home.text.about_6'}}}</p>
                </div>
                <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                    <img class="img-responsive" src="/images/open-source.png" alt="">
                </div>
            </div>    
        </div>
        <!-- /.container -->    
    </div>
    <!-- /.content-section-a -->


    <!-- Contact Team -->
    <a  id="contact"></a>
    <div class="banner">    
        <div class="container">    
            <div class="row">
                <div class="col-lg-6">
                    <h2>{{{i18n 'dapp.app.headers.connect'}}}</h2>
                </div>
                <div class="col-lg-6">
                    <ul class="list-inline banner-social-buttons">
                        <li>
                            <a href="https://twitter.com/weifund" class="btn btn-default btn-lg"><i class="fa fa-twitter fa-fw"></i> <span class="network-name">{{{i18n 'dapp.app.buttons.twitter'}}}</span></a>
                        </li>
                        <li>
                            <a href="https://github.com/WeiFund" class="btn btn-default btn-lg"><i class="fa fa-github fa-fw"></i> <span class="network-name">{{{i18n 'dapp.app.buttons.github'}}}</span></a>
                        </li>
                        <li>
                            <a href="http://linkedin.com/company/weifund" class="btn btn-default btn-lg"><i class="fa fa-linkedin fa-fw"></i> <span class="network-name">{{{i18n 'dapp.app.buttons.linkedin'}}}</span></a>
                        </li>
                    </ul>
                </div>
            </div>    
        </div> <!-- /.container -->    
    </div> <!-- /.banner -->
</template>