<template name="views_campaign">
    <div class="content-section-b">
        {{#with campaign}}
        <div class="container">
            <div class="row"  style="margin-top: 40px;">
                {{> components_campaignHeader}}
            </div> <!-- /.row -->

            <div class="row" style="margin-top: 45px;">
                
                <!-- This is the video embed -->
                <div class="col-md-9">
                    {{#with parseVideo data.mainEntityOfPage.contentUrl}}
                    <div class="embed-responsive embed-responsive-16by9" style="background: url(/images/weifund_logo.png); border: 1px #F1F1F1 solid; border-radius: 3px; background-size: contain; background-repeat: no-repeat; background-position: center; ">  
                        {{#if valid}}
                        	<iframe src="{{src}}" width="560" height="315"
								class="embed-responsive-item" 
								frameborder="0" allowfullscreen></iframe>
                        {{/if}}
                    </div> <!-- /. embed-->
                    {{/with}}

                    <div class="campaign-links" style="margin-top: 20px;">
                        <strong style="float: left;">
                            <i class="glyphicon glyphicon-tag"></i>
                            &nbsp;&nbsp;
                            <a href="/discover/{{toCategory data.category 'name'}}">
                                {{toCategory data.category 'name'}}
                            </a>
                        </strong>

                        <!--<strong style="float: left; margin-left: 20px;" class="text-muted">
                            <i class="glyphicon glyphicon-menu-left"></i>
                            <i class="glyphicon glyphicon-menu-right"></i>
                            &nbsp;&nbsp;Embed
                        </strong>-->

                        <a href="{{#if data.url}}{{addhttp data.url}}{{else}}http://weifund.io{{/if}}" 
                           style=" margin-left: 15px; float: left; font-weight: bold;" 
                           target="_blank">
                            <i class="glyphicon glyphicon-link"></i>
                            &nbsp;&nbsp;Link
                        </a>       

                        <!--<strong style="margin-left: 15px; float: left;"
                                class="text-muted">
                            <i class="glyphicon glyphicon-heart"></i>
                            &nbsp;&nbsp;
                            Subscribe
                        </strong>     -->   

                        <strong style="margin-left: 15px; float: left;"
                                class="text-info btn-details pointer">
                            <i class="glyphicon glyphicon-cog"></i>
                            &nbsp;&nbsp;
                            More
                        </strong>        
                    </div> <!-- /.campaign-links -->
					
					<br />
					
					<div class="row">
						<div class="col-xs-12 text-muted">
							<h3>
								{{#if data.description}}
									{{slice data.description 0 140}}...
								{{else}}
									{{slice data.about 0 140}}...
								{{/if}}
							</h3>
						</div>
					</div>
                </div> <!-- /.col-md-9 -->
                
                <div class="col-md-3 campaignDetails">
                    
                    <h2>{{formatNumber numContributions '00a'}}</h2>
                    <strong>backers</strong>                    
                    
                    <h2>
                        {{fromWei amountRaised 'ether' '0000.0a'}} 
                        <small>ethers</small>
                    </h2>
                    <strong>
                        contributed of E{{fromWei fundingGoal 'ether'}} goal
                    </strong>          
                    
                    <h2>{{formatTime expiry 'daystogo'}}</h2>
                    <strong>days to go</strong>
                    
                    {{#with TemplateVar.get 'token'}}
                        {{#if total}}
                            <h2>{{total}}</h2>
                            <strong>tokens issued</strong>
                        {{/if}}
                    {{/with}}
					
					{{#if TemplateVar.get 'contributeToCampaign'}}
						<hr />
                   	
						{{#with status}}                  
							{{> components_campaignProcessing}}
						{{/with}}
					{{else}}
						<br />
						<br />
						<br />

						<button id="contributeToCampaign" type="button"
								class="btn btn-primary btn-lg">
							{{i18n 'dapp.app.buttons.donate'}}
						</button>

						<br />
						<br />
						<br />

						<p>
							<small class="light" style="margin-top: 20px;">
								This project will expire {{formatTime expiry 'iso'}}, at which point the campaign can be paid out.
							</small>
						</p>

						<br />
						<hr />
						<br />

						{{#with toPersona owner}}
							<div class="row">
								<div class="col-xs-8">
									<b>
										<h4 class="text-black">
											<b>
												{{#if data.personSchema.name}}
													{{data.personSchema.name}}
												{{else}}
													Unknown Persona
												{{/if}}
											</b>
										</h4>

										<span class="text-muted" style="line-height: 25px; letter-spacing: .6px;">
											<i class="glyphicon glyphicon-upload align-verticle"></i> created {{TemplateVar.get 'campaignsStarted'}} | {{totalBacked}} backed 

											<br />

											<span class="invisafield text-muted"> <i class="glyphicon glyphicon-globe align-verticle"></i> {{cleanUrl ../data.url}}</span>
										</span>
									</b>
								</div>
								<div class="col-xs-4 no-gutter">
									{{#if data.personSchema.image.contentUrl}}
										<img src="{{data.personSchema.image.contentUrl}}" class="img-responsive" style="border-radius: 50%; padding: 5px; border: 1px solid #aaa;" />
									{{else}}
										<img src="/images/weifund_logo.png" class="img-responsive" style="border-radius: 50%; padding: 5px; border: 1px solid #aaa;" />
									{{/if}}
								</div>
							</div>
						{{/with}}
					{{/if}}
                </div>
                
            </div> <!-- /.row -->
            
            {{#if TemplateVar.get 'showDetails'}}
                {{> components_campaignDetails}}
            
                {{#with TemplateVar.get 'token'}}
                    <!--{{> components_campaignTokenDetails}}-->
                {{/with}}
            {{/if}}
			
			<hr />
			
			<div class="row">
				<div class="col-sm-6">
					{{#with campaign}}
						<h4>Details</h4>
						<b>Created</b> 
					
						<br />
					
						{{formatTime created 'fromnow'}}  <small>({{formatTime created 'iso'}})</small>
					
						<br /><br />
					
						<b>Contributors</b> 
					
						<br />
					
						{{numContributions}}
						
						<br /><br />
					
						<b>Website</b> 
					
						<br />
					
						{{#unless data.url}}No Website URL{{else}}<a href="{{data.url}}" target="_blank"><span class="invisafield" style="width: 75%">{{data.url}}</span></a>{{/unless}}
						
						<br /><br />
					
						<h4>Story</h4>
					
						{{#if data.description}}{{data.description}}{{else}}No description found.{{/if}}
					{{/with}}
				</div>
				<div class="col-sm-6">
					<h4>Latest Contributors</h4>
					
					{{#unless latestContributors}}
					<div class="well">
						<h5><b>No Contributors Yet</b></h5>
						<p>There are currently no contributors to this campaign.</p>
					</div>
					{{/unless}}
					
					{{#each latestContributors}}
					<div class="well">
						<div class="row">
							<div class="col-xs-3">
								{{#with toPersona contributor}}
									{{#if dataValid}}
										{{#if data.personSchema.image.contentUrl}}
											<img style="border: 1px solid #aaa; border-radius: 50%; padding: 5px;" src="{{data.personSchema.image.contentUrl}}" class="img-responsive" />
										{{else}}
											<img style="border: 1px solid #aaa; border-radius: 50%; padding: 5px;" src="/images/weifund_logo.png" class="img-responsive" />
										{{/if}}
									{{else}}
										<img style="border: 1px solid #aaa; border-radius: 50%; padding: 5px;" src="/images/weifund_logo.png" class="img-responsive" />
									{{/if}}
								{{/with}}
							</div>
							<div class="col-xs-9">
								<h5><b>{{> components_toName contributor}}</b></h5>
								<p>Amount Contributed <b>{{fromWei amountContributed}}</b> ether</p>
								<small><span class="invisafield">{{contributor}}</span> </small>
								<br />
								<small>Contributed: {{formatTime created 'fromnow'}} ({{formatTime created 'iso'}})</small>
							</div>
						</div>
					</div>
					{{/each}}
				</div>
			</div>
        </div> <!-- /.container -->
        {{/with}}
    </div>
    
    <!-- Recent Campaigns section -->
    <div style="background-color: #F9F9F9;">
        <div class="container" style="padding-bottom: 30px;">
            <div class="row" style="margin-top: 30px;">
                <div class="col-md-4"> 
                    <h2>{{i18n 'dapp.app.headers.recent'}}</h2>

                    <div style="margin-top: 30px;">
                        {{#each recent}}
                            {{> components_cardSmall}} <br>
                        {{/each}}
                    </div>
                </div> <!-- ./col-md-4 -->
            </div> <!-- ./row -->
        </div> <!-- ./container -->

        <div class="clear"></div>
    </div> <!-- ./container -->

    <!-- banner section -->
    <div class="banner" style="margin-top: 0px;">
        <div class="container">
            <div class="row">                
                <div class="col-lg-6">
                    <h2>Get Your Project Funded</h2>
                </div>                
                <div class="col-lg-6">
                	<a href="/start" class="btn btn-primary btn-default 
                                            btn-lg">
                        Start A Campaign
                    </a>
                </div>                
            </div> <!-- ./row -->
        </div> <!-- /.container -->
    </div> <!-- /.banner -->
    
    {{load}}
</template>