<template name="views_campaign">
    <div class="content-section-b">
        {{#with campaign}}
        <div class="container">
            <div class="row"  style="margin-top: 40px;">
                {{> components_campaignHeader}}
            </div> <!-- /.row -->

            <div class="row" style="margin-top: 45px;">
                
                <!-- This is the video embed -->
                <div class="col-md-9">
                    {{#with parseVideo data.mainEntityOfPage.contentUrl}}
                    <div class="embed-responsive embed-responsive-16by9">  
                        {{#if valid}}
                        <iframe width="560" height="315" src="{{src}}" 
                                class="embed-responsive-item" 
                                frameborder="0" allowfullscreen></iframe>
                        {{/if}}
                    </div> <!-- /. embed-->
                    {{/with}}

                    <div class="campaign-links" style="margin-top: 20px;">
                        <strong style="float: left;">
                            <i class="glyphicon glyphicon-tag"></i>
                            &nbsp;&nbsp;
                            <a href="/discover/{{toCategory data.category 'name'}}">
                                {{toCategory data.category 'name'}}
                            </a>
                        </strong>

                        <strong style="float: left; margin-left: 20px;" class="text-muted">
                            <i class="glyphicon glyphicon-menu-left"></i>
                            <i class="glyphicon glyphicon-menu-right"></i>
                            &nbsp;&nbsp;Embed
                        </strong>

                        <a href="{{addhttp data.url}}" 
                           style=" margin-left: 15px; float: left; font-weight: bold;" 
                           target="_blank">
                            <i class="glyphicon glyphicon-link"></i>
                            &nbsp;&nbsp;Link
                        </a>       

                        <strong style="margin-left: 15px; float: left;"
                                class="text-muted">
                            <i class="glyphicon glyphicon-heart"></i>
                            &nbsp;&nbsp;
                            Subscribe
                        </strong>        

                        <strong style="margin-left: 15px; float: left;"
                                class="text-info btn-details pointer">
                            <i class="glyphicon glyphicon-cog"></i>
                            &nbsp;&nbsp;
                            Details
                        </strong>        
                    </div> <!-- /.campaign-links -->
                </div> <!-- /.col-md-9 -->
                
                <div class="col-md-3 campaignDetails">
                    
                    <h2>{{formatNumber numContributors '00a'}}</h2>
                    <strong>backers</strong>                    
                    
                    <h2>
                        {{fromWei amountRaised 'ether' '0000.0a'}} 
                        <small>ethers</small>
                    </h2>
                    <strong>
                        contributed of E{{fromWei fundingGoal 'ether'}} goal
                    </strong>          
                    
                    <h2>{{formatTime expiry 'daystogo'}}</h2>
                    <strong>days to go</strong>
                    
                    {{#with TemplateVar.get 'token'}}
                        {{#if total}}
                            <h2>{{total}}</h2>
                            <strong>tokens issued</strong>
                        {{/if}}
                    {{/with}}
                    
                    <hr />
            
					{{#with status}}                        
						{{#with TemplateVar.get 'state'}}

							{{#if $eq ../type 'open'}}

								{{#if isOpen}}
									<b>Selected Account</b>

									<br />

									<span class="invisafield">{{selectedAccount}}</span>

									<br />
									<br />

									<b>Estimate Gas Cost</b>

									<br />

									<span class="invisafield">254588 wei</span>

									<br />
									<br />

									<input type="number" id="amount"
										   class="form-control light inputsm"
										   style="" required 
										   placeholder="1 ether" />

									<br>

									<button id="donate" type="button"
											class="btn btn-primary 
												   btn-default btn-md">
										{{i18n 'dapp.app.buttons.donate'}}
									</button>

								{{/if}}

								{{#if isContributing}}

									{{#if isError}}
										<div class="alert alert-warning">
											There was an error while making your contribution, the error was: {{error}}

											{{#if transactionHash}}
												<h5><b>Transaction Hash</b></h5>

												<span class="invisafield">{{transactionHash}}</span>
											{{/if}}
										</div>
									{{else}}

										{{#if contributed}}
											<div class="alert alert-success">
												<h4>Contribution Success!</h4>

												<p>Your contribution has been processed!</p>

												{{#if transactionHash}}
													<h5><b>Transaction Hash</b></h5>

													<span class="invisafield">{{transactionHash}}</span>
												{{/if}}
											</div>
										{{else}}
											<div class="alert alert-info">
												<h4>Contribution Processing...</h4>
												<p>
													Your contribution is being processed, this may take a minute... <i class="fa fa-cog fa-spin"></i>
												</p>

												{{#if transactionHash}}
													<h5><b>Transaction Hash</b></h5>

													<span class="invisafield">{{transactionHash}}</span>
												{{/if}}
											</div>
										{{/if}}

									{{/if}}

								{{/if}}

							{{/if}}


							{{#if $eq ../type 'failed'}}

								<!--{{../reason}}-->

								{{#if isRefunding}}
									{{#if isError}}
										<div class="alert alert-warning">
											<h4>Error While Refunding</h4>
											<p>There was an error while processing your refund: {{error}}</p>

											{{#if transactionHash}}
												<h5><b>Transaction Hash</b></h5>

												<span class="invisafield">{{transactionHash}}</span>
											{{/if}}
										</div>
									{{else}}

										{{#if refunded}}
											<div class="alert alert-success">
												<h4>Refund Processed!</h4>
												<p>Your refund has successfully been processed. Thank you.</p>

												{{#if transactionHash}}
													<h5><b>Transaction Hash</b></h5>

													<span class="invisafield">{{transactionHash}}</span>
												{{/if}}
											</div>
										{{else}}
											<div class="alert alert-info">
												<h4>Refund Processing</h4>
												<p>Your refund is being processed, this may take a minute... <i class="fa fa-cog fa-spin"></i></p>

												{{#if transactionHash}}
													<h5><b>Transaction Hash</b></h5>

													<span class="invisafield">{{transactionHash}}</span>
												{{/if}}
											</div>
										{{/if}}

									{{/if}}
								{{else}}
									<p class="text-info"><br />{{i18n 'dapp.views.tracker.text.failed'}}</p>
									<input type="button" id="refund" class="btn btn-success btn-default btn-lg" value="{{i18n 'dapp.app.buttons.refund'}}">
								{{/if}}

							{{/if}}


							{{#if $eq ../type 'paidout'}}
								<h3 class="text-success">Campaign Success!</h3>
								<p>This campaign has reached or surpassed it's goal, the proceeds have been paid out to the beneficiary.</p>
							{{/if }}


							{{#if $eq ../type 'success'}}

								{{#if isPaying}}
									{{#if isError}}
										<div class="alert alert-warning">
											<h4>Payout Error</h4>
											<p>There was an error while paying out this campaign: {{error}}</p>

											{{#if transactionHash}}
												<h5>Transaction Hash</h5>

												<span class="invisafield">{{transactionHash}}</span>
											{{/if}}
										</div>
									{{else}}

										{{#if payout}}
											<div class="alert alert-success">
												<h4>Payout Processed!</h4>
												<p>The campaign was a success and has been paid out to the beneficiary!</p>

												{{#if transactionHash}}
													<h5>Transaction Hash</h5>

													<span class="invisafield">{{transactionHash}}</span>
												{{/if}}
											</div>
										{{else}}
											<div class="alert alert-success">
												<h4>Payout Processing..</h4>
												<p>The campaign is being paid out to the beneficiary address... this may take a moment <i class="fa fa-cog fa-spin"></i></p>

												{{#if transactionHash}}
													<h5>Transaction Hash</h5>

													<span class="invisafield">{{transactionHash}}</span>
												{{/if}}
											</div>
										{{/if}}

									{{/if}}
								{{else}}
									<h3 class="text-success">{{i18n 'dapp.views.tracker.text.success'}}</h3>
									<br />
									<input type="button" id="payout" class="btn btn-success btn-default btn-lg" value="{{i18n 'dapp.app.buttons.payout'}}">
								{{/if}}

							{{/if}}

							{{#if $eq ../type 'payedout'}}
								<h3 class="text-success">Goal Reached</h3>
								<p>This campaign reached it's goal and has been payed out!</p>
							{{/if}}
						{{/with}}
					{{/with}}
                    
                    <br>
                    
					<p>
						<small class="light">
							This project will expire {{formatTime expiry 'iso'}}, at which point the campaign can be paid out.
						</small>
					</p>
                    
                </div>
                
                
            </div> <!-- /.row -->
			
			<div class="row">
				<div class="col-sm-12">
					<h4>Campaign Description</h4>
					{{data.description}}
				</div>
			</div>
            
            {{#if TemplateVar.get 'showDetails'}}
                {{> components_campaignDetails}}
            
                {{#with TemplateVar.get 'token'}}
                    <!--{{> components_campaignTokenDetails}}-->
                {{/with}}
            {{/if}}
        </div> <!-- /.container -->
        {{/with}}
    </div>
    
    <!-- Recent Campaigns section -->
    <div style="background-color: #F9F9F9;">
        <div class="container" style="padding-bottom: 30px;">
            <div class="row" style="margin-top: 30px;">
                <div class="col-md-4"> 
                    <h2>{{i18n 'dapp.app.headers.recent'}}</h2>

                    <div style="margin-top: 30px;">
                        {{#each recent}}
                            {{> components_cardSmall}} <br>
                        {{/each}}
                    </div>
                </div> <!-- ./col-md-4 -->
            </div> <!-- ./row -->
        </div> <!-- ./container -->

        <div class="clear"></div>
    </div> <!-- ./container -->

    <!-- banner section -->
    <div class="banner" style="margin-top: 0px;">
        <div class="container">
            <div class="row">                
                <div class="col-lg-6">
                    <h2>Get Your Project Funded</h2>
                </div>                
                <div class="col-lg-6">
                	<a href="/start" class="btn btn-primary btn-default 
                                            btn-lg">
                        Start A Campaign
                    </a>
                </div>                
            </div> <!-- ./row -->
        </div> <!-- /.container -->
    </div> <!-- /.banner -->
    
    {{load}}
</template>