<template name="views_campaign">
    <div class="content-section-b">
        {{#with campaign}}
        <div class="container">
            <div class="row"  style="margin-top: 40px;">
                {{> components_campaignHeader}}
            </div> <!-- /.row -->

            <div class="row" style="margin-top: 45px;">
                
                <!-- This is the video embed -->
                <div class="col-md-9">
                    {{#with parseVideo video}}
                    <div class="embed-responsive embed-responsive-16by9">  
                        {{#if valid}}
                        <iframe width="560" height="315" src="{{src}}" 
                                class="embed-responsive-item" 
                                frameborder="0" allowfullscreen></iframe>
                        {{/if}}
                    </div> <!-- /. embed-->
                    {{/with}}

                    <div class="campaign-links" style="margin-top: 20px;">
                        <strong style="float: left;">
                            <i class="glyphicon glyphicon-tag"></i>
                            &nbsp;&nbsp;
                            <a href="/discover/{{toCategory category 'name'}}">
                                {{toCategory category 'name'}}
                            </a>
                        </strong>

                        <strong style="float: left; margin-left: 20px;" class="text-muted">
                            <i class="glyphicon glyphicon-menu-left"></i>
                            <i class="glyphicon glyphicon-menu-right"></i>
                            &nbsp;&nbsp;Embed
                        </strong>

                        <a href="{{addhttp website}}" 
                           style=" margin-left: 15px; float: left; font-weight: bold;" 
                           target="_blank">
                            <i class="glyphicon glyphicon-link"></i>
                            &nbsp;&nbsp;Link
                        </a>       

                        <strong style="margin-left: 15px; float: left;"
                                class="text-muted">
                            <i class="glyphicon glyphicon-heart"></i>
                            &nbsp;&nbsp;
                            Subscribe
                        </strong>        

                        <strong style="margin-left: 15px; float: left;"
                                class="text-info btn-details pointer">
                            <i class="glyphicon glyphicon-cog"></i>
                            &nbsp;&nbsp;
                            Details
                        </strong>        
                    </div> <!-- /.campaign-links -->
                </div> <!-- /.col-md-9 -->
                
                <div class="col-md-3 campaignDetails">
                    
                    <h1>{{numFunders}}</h1>
                    <strong>backers</strong>                    
                    
                    <h1>
                        {{fromWei amount 'ether'}} 
                        <small>ethers</small>
                    </h1>
                    <strong>
                        contributed of E{{fromWei fundingGoal 'ether'}} goal
                    </strong>                                    
                    
                    <h1>{{formatTime timelimit 'fromnow'}}</h1>
                    <strong>days to go</strong>
                    
                    <hr />
            
                    <form name="donateForm" class="input-group input-group-lg">
                        {{#with status}}                        
                            {{#with TemplateVar.get 'state'}}
                        
                                {{#if $eq ../type 'open'}}
                        
                                    {{#if isOpen}}
                                        <input type="number" id="amount"
                                               class="form-control light"
                                               style="width: 105%; border-radius: 0px; border-top-right-radius: 5px;" required 
                                               placeholder="1 ether" />

                                        <br><br><br>

                                        <button id="donate" type="button"
                                                class="btn btn-primary 
                                                       btn-default btn-lg">
                                            {{i18n 'dapp.app.buttons.donate'}}
                                        </button>
                        
                                    {{/if}}

                                    {{#if isContributing}}

                                        {{#if isError}}
                                            <h3 class="text-warning">
                                                There was an error making a contribution.
                                            </h3>
                                            <p>{{error}}</p>
                                        {{else}}

                                            {{#if contributed}}
                                                <h3 class="text-success">
                                                    {{i18n 'dapp.views.tracker.text.thankyou'}}
                                                </h3>
                                                <p>
                                                    {{i18n 'dapp.views.tracker.text.donationProcessed'}}
                                                </p>
                                            {{else}}
                                                <h3 class="text-success">
                                                    {{i18n 'dapp.views.tracker.text.thankyou'}}
                                                </h3>
                                                <p>
                                                    {{i18n 'dapp.views.tracker.text.donationProcessing'}}
                                                </p>
                                            {{/if}}
                        
                                        {{/if}}

                                    {{/if}}

                                {{/if}}
                        

                                {{#if $eq ../type 'failed'}}

                                    <!--{{../reason}}-->

                                    {{#if isRefunding}}
                                        {{#if isError}}
                                            <h3 class="text-warning">There was an error processing your refund.</h3>
                                            <p>{{error}}</p>
                                        {{else}}
                        
                                            {{#if refunded}}
                                                <p class="text-info">{{i18n 'dapp.views.tracker.text.refundProcessed'}}</p>
                                            {{else}}
                                                <p class="text-info">{{i18n 'dapp.views.tracker.text.refundProcessing'}}</p>
                                            {{/if}}
                        
                                        {{/if}}
                                    {{else}}
                                        <p class="text-info"><br />{{i18n 'dapp.views.tracker.text.failed'}}</p>
                                        <input type="button" id="refund" class="btn btn-success btn-default btn-lg" value="{{i18n 'dapp.app.buttons.refund'}}">
                                    {{/if}}

                                {{/if}}
                        

                                {{#if $eq ../type 'success'}}

                                    {{#if isPaying}}
                                        {{#if isError}}
                                            <h3 class="text-warning">There was an error processing your payout.</h3>
                                            <p>{{error}}</p>
                                        {{else}}

                                            {{#if payout}}
                                                <p class="text-info">{{i18n 'dapp.views.tracker.text.payoutProcessed'}}</p>
                                            {{else}}
                                                <p class="text-info">{{i18n 'dapp.views.tracker.text.payoutProcessing'}}</p>
                                            {{/if}}

                                        {{/if}}
                                    {{else}}
                                        <h3 class="text-info">{{i18n 'dapp.views.tracker.text.success'}}</h3>
                                        <input type="button" id="payout" class="btn btn-success btn-default btn-lg" value="{{i18n 'dapp.app.buttons.payout'}}">
                                    {{/if}}

                                {{/if}}
                        
                                {{#if $eq ../type 'payedout'}}
                                    <h3 class="text-success">Goal Reached</h3>
                                    <p>This campaign reached it's goal and has been payed out!</p>
                                {{/if}}
                            {{/with}}
                        {{/with}}
                    </form>
                    
                    <br>
                    
                    <small class="light">
                        This project will expire {{formatTime timelimit 'iso'}}, at which point the campaign can be paid out.
                    </small>
                    
                </div>
                
                
            </div> <!-- /.row -->
            
            {{#if TemplateVar.get 'showDetails'}}
                {{> components_campaignDetails}}
            {{/if}}
        </div> <!-- /.container -->
        {{/with}}
    </div>
    
    <!-- Recent Campaigns section -->
    <div style="background-color: #F9F9F9;">
        <div class="container" style="padding-bottom: 30px;">
            <div class="row" style="margin-top: 30px;">
                <div class="col-md-4"> 
                    <h2>{{i18n 'dapp.app.headers.recent'}}</h2>

                    <div style="margin-top: 30px;">
                        {{#each recent}}
                            {{> components_cardSmall}} <br>
                        {{/each}}
                    </div>
                </div> <!-- ./col-md-4 -->
            </div> <!-- ./row -->
        </div> <!-- ./container -->

        <div class="clear"></div>
    </div> <!-- ./container -->

    <!-- banner section -->
    <div class="banner" style="margin-top: 0px;">
        <div class="container">
            <div class="row">                
                <div class="col-lg-6">
                    <h2>Get Your Project Funded</h2>
                </div>                
                <div class="col-lg-6">
                	<a href="/start" class="btn btn-primary btn-default 
                                            btn-lg">
                        Start A Campaign
                    </a>
                </div>                
            </div> <!-- ./row -->
        </div> <!-- /.container -->
    </div> <!-- /.banner -->
    
    {{load}}
</template>