<template name="views_home">
    <!-- Header -->
    <a id="top"></a>
    <div class="intro-header">
        <div class="container">    
            <div class="row">
                <div class="col-lg-12">
                    <div class="intro-message">
                        <h1>{{{i18n 'dapp.app.headers.big'}}}</h1>
                        <h3>{{{i18n 'dapp.app.headers.small'}}}</h3>
                        <hr class="intro-divider">
                        <a href="{{ pathFor 'start' }}" class="btn btn-primary  btn-lg"><span class="network-name">{{{i18n 'dapp.app.buttons.startCampaign'}}}</span></a>
                    </div>
                </div>
            </div>    
        </div> <!-- /.container -->    
    </div>
    <!-- /.intro-header -->
    
    <!-- Recent -->
    <a id="recent"></a>
    <div class="content-section-a">    
        <div class="container">      
            <div class="row">
                <div class="col-xs-12">
                    <h3>Recent Campaigns</h3>  
                </div>
            </div>
            <div class="row">
            {{#each campaigns}}
                {{> components_card}}
            {{/each}}
            </div>
        </div>
    </div>
    
    <!-- Recent -->
    {{#if picks}}
    <a id="staff"></a>
    <div class="content-section-b">    
        <div class="container">      
            <div class="row">
                <div class="col-xs-12">
                    <h3>Staff Picks</h3>  
                </div>
            </div>
            <div class="row">
            {{#each picks}}
                {{> components_card}}
            {{/each}}
            </div>
        </div>
    </div>
    {{/if}}


    <!-- Contact Team -->
    <a  id="contact"></a>
    <div class="banner">    
        <div class="container">    
            <div class="row">
                <div class="col-lg-6">
                    <h2>{{{i18n 'dapp.app.headers.connect'}}}</h2>
                </div>
                <div class="col-lg-6">
                    <ul class="list-inline banner-social-buttons">
                        <li>
                            <a href="https://twitter.com/weifund" class="btn btn-default btn-lg"><i class="fa fa-twitter fa-fw"></i> <span class="network-name">{{{i18n 'dapp.app.buttons.twitter'}}}</span></a>
                        </li>
                        <li>
                            <a href="https://github.com/WeiFund" class="btn btn-default btn-lg"><i class="fa fa-github fa-fw"></i> <span class="network-name">{{{i18n 'dapp.app.buttons.github'}}}</span></a>
                        </li>
                        <li>
                            <a href="http://linkedin.com/company/weifund" class="btn btn-default btn-lg"><i class="fa fa-linkedin fa-fw"></i> <span class="network-name">{{{i18n 'dapp.app.buttons.linkedin'}}}</span></a>
                        </li>
                    </ul>
                </div>
            </div>    
        </div> <!-- /.container -->    
    </div> <!-- /.banner -->
</template>