<template name="views_startDetails">
	<h2>Campaign Details</h2>

	<p>Here you can fill out your projects story, images and videos.</p>

	<hr />

	<form id="startDetailsForm" class="css-form" data-parsley-validate parsley-validate action="/start/details">
		<div class="row">
			<div class="col-xs-6" style="padding-right: 45px;">
				<div class="well well-md">
					<h4>Project Website</h4>

					<input id="url" placeholder="mycampaign.com" class="form-control" minlength="3" aria-describedby="sizing-addon1" data-parsley-trigger="change" style="margin-top: 15px;" required data-parsley-group="block1" data-parsley-type="url" value="{{data.url}}" />

					<br />

					<h4>Category</h4>

					<select id="category" class="form-control" data-parsley-check="[0, 13]" value="{{data.category}}" data-parsley-trigger="change" style="margin-top: 15px;" required aria-describedby="sizing-addon1" data-parsley-group="block1">
						<!--<option selected="selected"  
								data-parsley-trigger="change" value="" 
								data-parsley-group="block3">
							Category
						</option>-->
						{{#each categories ''}}
						<option value="{{id}}">
							{{name}}
						</option>
						{{/each}}
					</select>
				</div>

				<div class="well well-md">
					<div class="row">
						<div class="col-sm-6">
							<h4>Operator Persona</h4>

							<input type="text" id="personaName" placeholder="Tyler Durdan" class="form-control" minlength="3" aria-describedby="sizing-addon1" data-parsley-trigger="change" style="margin-top: 15px;" data-parsley-group="block3"  value="{{data.personaName}}" />
						</div>
						<div class="col-sm-6">
							<h4>Profile Image</h4>

							<input type="url" id="personaImage" placeholder="website.com/myimage.jpg" class="form-control" minlength="3" aria-describedby="sizing-addon1" data-parsley-trigger="change" style="margin-top: 15px;" data-parsley-group="block3" data-parsley-type="url" value="{{data.personaImage}}" />
						</div>
					</div>
					
					<br />

					<p><small>This is your campaign operator identity, we recommend having a persona so that contributors can see who you are. This persona can be for either a person or organization.</small></p>

					<hr />

					{{#if data.createPersona}}
						<input type="checkbox" id="createPersona" style="verticle-align: middle;" value="1" checked>
					{{else}}
						<input type="checkbox" id="createPersona" style="verticle-align: middle;" value="1">
					{{/if}}
					
					Create Operator Persona
				</div>
			</div>
			<div class="col-xs-6">
				<div class="well well-md">
					<div class="row">
						<div class="col-xs-12">
							<h4>Video</h4>

							<input type="url" id="primaryContent" placeholder="Video or image url" class="form-control" minlength="3" data-parsley-minlength="[3]" aria-describedby="sizing-addon1" data-parsley-trigger="change" style="margin-top: 15px;" required data-parsley-group="block1" data-parsley-type="url"  value="{{data.mainEntityOfPage}}" />

							<p><small>Video must be YouTube or Vimeo URLs. Image must be 16:9 and at least 1024px by 768px.</small></p>
						</div>
					</div>

					<br />

					<div class="row">
						<div class="col-sm-6">
							<h4>Banner Image</h4>

							<input type="url" id="bannerImage" placeholder="website.com/weifund-banner.jpg" class="form-control" minlength="3" data-parsley-minlength="[3]" aria-describedby="sizing-addon1" data-parsley-trigger="change" style="margin-top: 15px;" required data-parsley-group="block1" data-parsley-type="url" value="{{data.banner}}" />

							<br />

							<small>*Must be 4:3 jpg, jpeg or png greater than 1024px by 768px.</small>
						</div>
						<div class="col-sm-6">
							<h4>Avatar Image</h4>

							<input type="url" id="avatarImage" placeholder="website.com/weifund-avatar.png" class="form-control" minlength="3" data-parsley-minlength="[3]" aria-describedby="sizing-addon1" data-parsley-trigger="change" style="margin-top: 15px;" required data-parsley-group="block1" data-parsley-type="url" value="{{data.avatar}}" />

							<br />

							<small>*Must be square jpg, jpeg or png greater than 300px by 300px.</small>
						</div>
					</div>
				</div>

				<div class="well well-md">
					<h4>Short Description</h4>

					<textarea id="description" placeholder="A short description of your campaign and its goals." class="form-control" aria-describedby="sizing-addon1" style="min-height: 70px; margin-top: 15px;" value="{{data.description}}"></textarea>

					<br />

					<h4>Project Story</h4>

					<textarea id="about" placeholder="A detailed account of your project, its goals and what you are trying to achieve by starting this campaign." class="form-control" aria-describedby="sizing-addon1" style="min-height: 70px; margin-top: 15px; height: 145px;"></textarea>
				</div>
			</div>
		</div>

		{{> components_startNav back=true clear=true skip=true next=true nextText="Continue to Tokens"}}
		{{load}}
	</form>
</template>