<template name="views_startReceipt">
	<h2>Receipt</h2>
	
	<p>Here is your campaign receipt.</p>
	
	<hr />
	
	{{#with campaignReceipt}}
		<div class="row">
			<div class="col-xs-6">
				<h3>Transaction Hashes</h3>

				{{#each TransactionHashes}}
					<br />
					<label>{{name}}</label>
					<p><small>{{transactionHash}}</small></p>
				{{/each}}

				<h3>IPFS Hashes</h3>

				{{#each IPFSHashes}}
					<br />
					<label>{{name}}</label>
					<p><small>{{ipfsHash}}</small></p>
				{{/each}}
			</div>
			<div class="col-xs-6">
				<h3>Cumulative Gas Used</h3>

				<p>{{fromWei cumulativeGasUsed 'ether' '00000.0000000a'}} ether</p>

				<h3>Gas Used</h3>

				<p>{{fromWei gasUsed 'ether' '00000.0000000a'}} ether</p>

				<h3>Campaign ID</h3>

				<p>{{receipts.campaign.campaignID}}</p>

				{{#if receipts.weiaccount}}
					<h3>Campaign Account</h3>

					<p>{{receipts.weiaccount.account}}</p>
				{{/if}}
			</div>
		</div>
	{{/with}}
	
	{{load}}
</template>