<template name="views_tracker">
    <div class="content-section-b">
    
        <div class="container">
        
            <div class="row" style="margin-top: 40px;">
                <div class="col-lg-5 col-sm-6" style="min-height: 500px;">
                
                    <h2>{{i18n 'dapp.app.headers.search'}}</h2><br>
                    
                    {{> components_search}}
                    
                    <br><br>
                    
                    <h2>{{i18n 'dapp.app.headers.recent'}}</h2>
                    
                    <div style="margin-top: 15px;">
                    	{{#each recent}}
                        	{{> components_smallCard}}
                        {{/each}}
                    </div>
                </div>
                
                <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                {{#with campaign}}
                	{{> components_campaignTracker}}
                {{/with}}
                </div>
            </div>
        
        </div>
        <!-- /.container -->
        
    </div>
    
    <!-- /.banner -->
    <div class="banner">
    
        <div class="container">
    
            <div class="row">
                <div class="col-lg-6">
                    <h2>{{i18n 'dapp.app.headers.getFunded'}}</h2>
                </div>
                <div class="col-lg-6">
                    <a href="{{pathFor 'home'}}#start" class="btn btn-primary btn-default btn-lg">{{i18n 'dapp.app.buttons.startCampaign'}}</a>
                </div>
            </div>
    
        </div>
        <!-- /.container -->
        
    </div>
    <!-- /.banner -->
</template>