<template name="layout_footer">
    <footer>
        <div class="container">
        
            <div class="row">
                <div class="col-lg-12">
                    <ul class="list-inline">
                        <li>
                            <a href="{{ pathFor 'discover' }}">
                                {{{i18n 'dapp.app.buttons.discover'}}}
                            </a>
                        </li>
                        <li class="footer-menu-divider">&sdot;</li>
                        <li>
                            <a href="{{ pathFor 'home' }}#start">
                                {{{i18n 'dapp.app.buttons.start'}}}
                            </a>
                        </li>
                        <li class="footer-menu-divider">&sdot;</li>
                        <li>
                            <a href="{{ pathFor 'about' }}">
                                {{{i18n 'dapp.app.buttons.about'}}}
                            </a>
                        </li>
                        <li class="footer-menu-divider">&sdot;</li>
                        <li>
                            <a href="{{ pathFor 'home' }}#contact">
                                {{{i18n 'dapp.app.buttons.contact'}}}
                            </a>
                        </li>
                        <li class="footer-menu-divider">&sdot;</li>
                        <li>
                            <a href="{{ pathFor 'admin' }}">Admin</a>
                        </li>
                        <li class="footer-menu-divider">&sdot;</li>
                        <li>
                            <a href="{{ pathFor 'disclaimer' }}">Disclaimer</a>
                        </li>
                        <li class="footer-menu-divider">&sdot;</li>
                        <li>
                            <a href="{{ pathFor 'setup' }}">Setup</a>
                        </li>
                    </ul>
                    <p class="copyright text-muted small">
                        {{{i18n 'dapp.app.copyright'}}}
                    </p>
                </div>
            </div>
            
        </div>
        <!-- /.container -->
        
    </footer>
</template>