<template name="layout_header">
	{{> components_agreement}}

    <nav class="navbar navbar-default navbar-fixed-top topnav" role="navigation">
    
        <div class="container topnav">
        
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand topnav" href="{{ pathFor 'home' }}#top"><h4 style="margin: 0px;">{{{i18n 'dapp.app.defaultName'}}} <i class="glyphicon text-primary glyphicon-upload"></i></h4></a>
            </div>
            <!-- /.navbar-header -->
            
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="{{ pathFor 'discover' }}">{{{i18n 'dapp.app.buttons.discover'}}}</a>
                    </li>
                    <li>
                        <a href="{{ pathFor 'start' }}">{{{i18n 'dapp.app.buttons.start'}}}</a>
                    </li>
                    <li>
                        <a href="{{ pathFor 'about' }}">{{{i18n 'dapp.app.buttons.about'}}}</a>
                    </li>
                    <li>
                        <a href="{{ pathFor 'home' }}#contact">{{{i18n 'dapp.app.buttons.contact'}}}</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
            
        </div>
        <!-- /.container -->
        
    </nav>
</template>
