<template name="layout_startHeader">
	<div id="startHeader" class='breadcrumbs'>
	  <div class='inner'>
		<ul class='cf'>
		  <li data-stage="0">
			<a href="/start" class='active'>
			  <span>1</span>
			  <span>Basics</span>
			</a>
		  </li>
		  <li data-stage="1">
			<a href="/start/details" >
			  <span>2</span>
			  <span>Details</span>
			</a>
		  </li>
		  <li data-stage="2">
			<a href="/start/tokens" >
			  <span>3</span>
			  <span>Tokens</span>
			</a>
		  </li>
		  <li data-stage="3">
			<a href="/start/checkout">
			  <span>4</span>
			  <span>Checkout</span>
			</a>
		  </li>
		  <li data-stage="4">
			<a href="/start/receipt" >
			  <span>5</span>
			  <span>Receipt</span>
			</a>
		  </li>
		</ul>
	  </div>
	</div>
</template>