<div class="content-section-b">
    <div class="container">
        <div class="row">
            <div class="col-lg-5 col-sm-6">
                        
                <form id="new_campaign_wrapper" name="startCampaignForm" class="input-group input-group-lg css-form" style="margin-top: 60px;"  ng-show="state.begin">
                    <h2>Start Your Campaign</h2>
                     <p class="lead">Fill out your project details below and get crowd funding!</p>
                        
                        <input  type="text" placeholder="Campaign Name" name="cName" ng-model="cname" ng-minlength='3' ng-maxlength='32' required class="form-control" aria-describedby="sizing-addon1"  ng-model-options="{ updateOn: 'keyup' }" />
                        
                      <div class="error-container" ng-show="startCampaignForm.cName.$dirty && startCampaignForm.cName.$invalid">
                        <small class="error" ng-show="startCampaignForm.cName.$error.required">Please input a campaign name</small>
                        <small class="error" ng-show="startCampaignForm.cName.$error.minlength">Your campaign name is required to be at least 3 characters</small>
                        <small class="error" ng-show="startCampaignForm.cName.$error.maxlength">Your campaign name cannot be longer than 32 characters</small>
                      </div>
                           
                        <br><br><br>
                        <!--pattern="/^(https?:\/\/)?([\da-z\.-]+)\.([a-z\.]{2,6})([\/\w \.-]*)*\/?$/-->                        
                        <input type="url" placeholder="Website" name="cWebsite" ng-model="cwebsite_url" required ng-maxlength='32' class="form-control" aria-describedby="sizing-addon1" ng-model-options="{ updateOn: 'keyup' }" />
                                             
                      <div class="error-container" ng-show="startCampaignForm.cWebsite.$dirty && startCampaignForm.cWebsite.$invalid">
                        <small class="error" ng-show="startCampaignForm.cWebsite.$error.required">Please input a campaign website</small>
                        <small class="error" ng-show="startCampaignForm.cWebsite.$error.maxlength">Your campaign website url cannot be longer than 32 characters</small>
                            <small class="error" ng-show="startCampaignForm.cWebsite.$error.url">Your campaign website url must be a url</small>
                      </div>
                        
                        <input type="text" id="timelimit" name="timelimit" class="form-control datepicker" required ng-model="ctimelimit" aria-describedby="sizing-addon1" style="max-width: 49%;  margin-top: 10px; margin-right: 2%;" placeholder="End Date" ng-model-options="{ updateOn: 'keyup' }" />
                        
                        <input type="number" id="goal" name="goal" min="1" class="form-control" required ng-model="cgoal" required aria-describedby="sizing-addon1" ng-minlength='1' style="max-width: 49%; margin-top: 10px;" placeholder="Goal (i.e. 200 ETH)" ng-model-options="{ updateOn: 'keyup' }" />
                        
                        <div class="error-container" ng-show="startCampaignForm.timelimit.$dirty && startCampaignForm.timelimit.$invalid">
                        	<small class="error" ng-show="startCampaignForm.timelimit.$error.required">Please select a campaign end date.</small>
                      </div>
                        
                        <div class="error-container" ng-show="startCampaignForm.goal.$dirty && startCampaignForm.goal.$invalid">
                        	<small class="error" ng-show="startCampaignForm.goal.$error.required">Please select a campaign goal amount.</small>
                        <small class="error" ng-show="startCampaignForm.goal.$error.minlength">Your goal amount must at least be one WEI</small>
                      </div>
                        
                        <br><br><br><br>
                        
                        <input type="text" class="form-control" web3-address required ng-model="cbenificiary" required aria-describedby="sizing-addon1" placeholder="Benificiary Address (use arrow keys)"  ng-model-options="{ updateOn: 'keyup' }" style="-webkit-user-select: auto !important; margin-top: 10px;" />
                        
                        <div class="error-container" ng-show="startCampaignForm.address.$dirty && startCampaignForm.address.$invalid">
                        	<small class="error" ng-show="startCampaignForm.address.$error.required">Please select a benificiary address {{i}}</small>
                      </div>
                        
                        <br><br><br>
                        <select id="category" name="category" class="form-control" required ng-model="ccategory"  style="margin-top: 10px;" aria-describedby="sizing-addon1">
                            <option selected="selected" value="">Category</option>
                            <option value="0">Small Buisness</option>
                            <option value="1">Technology</option>
                            <option value="2">Music</option>
                            <option value="3">Arts</option>
                            <option value="4">Cryptocurrency</option>
                            <option value="5">Dance</option>
                            <option value="6">Fashion</option>
                            <option value="7">Film</option>
                            <option value="8">Community</option>
                            <option value="9">Food</option>
                            <option value="10">Games</option>
                            <option value="11">Education</option>
                            <option value="12">Cause</option>
                            <option value="13">Politics</option>
                        </select>
                        
                        <br><br><br><br>
                        <input type="button" class="btn btn-primary btn-lg" ng-click="start_campaign();" style="margin-top: 20px;" value="Start your Campaign!" />
                 </form>
                 
                 <div style="margin-top: 60px;"  ng-show="state.started">
                    <h2>Your Campaign Has Started!</h2>
                    
                    <div style="margin-top: 40px;">
                        <h2 style="margin-top: 0px;"><a href="{{campaign.url}}" class="light">{{campaign.name}}</a> has started</h2>
                        <h4><span class="light">Campaign ID #</span><strong>{{campaign.id}}</strong></h4>
                        
                        <h3 style="margin-top: 60px;">Your Campaign URL:</h3>
                        <input type="text" style="border-radius: 5px;" class="form-control" onClick="this.setSelectionRange(0, this.value.length)" value="{{campaign.siteUrl}}" /> 
                        <!-- End of URL -->
                    
                        <br><br><br>
                        
                        <a href="{{campaign.url}}" class="btn btn-primary btn-lg">Goto My Campaign</a>
                        
                    </div>
                 </div>
            </div>
            
            <div class="col-lg-5 col-lg-offset-2 col-sm-6" style="min-height: 650px;">
                <div id="campaign_details" style="padding-top: 60px;" ng-show="state.begin">
                     <h2>Details</h2>
                     
                     <ul class="lead">
                     <li>All funds are in Ether denominations</li>
                     <li>If your campaign goal is not reached by the alloted time period, all ether is returned to the respective doners</li>
                     <li>If your campaign goal is reached, the funds will be avilable to the benificiary address provided</li>
                     <li>Please provide a website url and campaign name below 32 characters</li>
                     <li>A campain ID will be provided after the campaign is started, use this to promote your campaign</li>
                    </ul>
                 </div>
                 
                 <div id="new_campaign_success_2" style="margin-top: 50px;" ng-show="state.started">
                        
                    <h3>Dont Forget to Add Your Campaign Image</h3>
                    
                    <div class="panel panel-default cf-panel-2">
                        <div class="panel-heading">Upload a 500px by 300px PNG image titled "crowdfundrr.png" (without the qoutes) to your website's main directory.</div>
                        <div class="panel-body" style="background-color: #FFFFFF;">
                            <h4 style="margin: 0px; background-color: #FFFFFF;"><span id="new_campaign_website" class="light" style="background-color: #FFFFFF;">{{campaign.website}}</span><strong style="background-color: #FFFFFF;">/crowdfundrr.png</strong></h4>
                        </div>
                        <div class="panel-footer">**Note, this is the image that will be used on crowdfundrr.</div>
                    </div>
                    
                    <h3 style="margin-top: 40px;">Embed your Campaign Link</h3>
                    
                    <div cf-embed-link campaign-id="campaign.id"></div>
                    
                    <!-- End of Embed-->
                </div> <!-- End of NEw Success 2 -->
                 
            </div>
        </div>
    </div>
    <!-- /.container -->

</div>
<!-- /.content-section-b -->